.paymentinfocontainer {
    width: 50%;
    margin: 0 auto;
}

.pointinfocontainer {
    width: 50%;
    margin: 0 auto;
}

.date-filter {
    text-align: center;
    margin: 0 auto;
}

.filterBtn {
    width: 60px;
    height: 25px;
    padding: 2px 2px;
    background-color: transparent;
    color: #5CA8B5;
    border: 2px solid #5CA8B5;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.center-button {
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    margin: 3px 50px 50px 3px;
}

.btn-16 {
    border: 1px;
    background-color: #5CA8B5;
    color: #fff;
    margin: 20px;
}

.btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.btn-16:hover {
    color: #fff;
}

.btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn-16:active {
    top: 2px;
}

.history-selection-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.before-point {
    color: blue;  /* 파란색 */
}

.after-point {
    color: red;  /* 빨간색 */
}

.useType {
    color: rgb(29, 170, 240);
}