
  /* 슬라이드 CSS */
  /* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid silver;
    outline: none;
  }
  
  ::-webkit-scrollbar {width: 10px; height: 10px; border: 3px solid #fff; }
  ::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background: url('./images/bg.png') #fff}
  ::-webkit-scrollbar-track {background: #efefef; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.0)}
  ::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(0,0,0,.2); -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}
  body{-ms-overflow-style:none; }
  body::-webkit-scrollbar { display:none; }
  img {
    width: 100px;
  }
  
  .meetTitle{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 25px 0px 0px 50px;
    height: 80px;
    font-weight: 100;
  }

  .meetTitle_Sub{
    margin-left: 50px;
    font-size: 20pt;
    margin-bottom: 30px;
  }


  .body7 {
    font-size: 0.9rem;
    letter-spacing: 0.1px;
    height: 500px;
    max-height: 500px;
  }
  
  h1 {
    font-size: 2.8rem;
    line-height: 2.8rem;
    font-weight: bolder;
    color: #000000;
  }
  
  h2 {
    font-size: 2.3rem;
    line-height: 2.3rem;
    font-weight: bold;
  }
  
  h3 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: bolder;
    color: #333;
  }
  
  h4 {
    font-size: 1.3rem;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bolder;
    color: #333;
  }
  
  h5 {
    font-size: 1rem;
    line-height: 1.4rem;
    text-transform: uppercase;
  }
  
  h6 {
    font-size: 0.85rem;
    color: black;
    line-height: 1.5rem;
    text-transform: uppercase;
  }
  
  /* .span2 {
    font-size: 0.9rem;
  } */
  
  /* a:link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
  } */
/*   
  a:visited {
    color: white;
    text-transform: uppercase;
  }
  
  a:active {
    color: white;
    text-transform: uppercase;
  }
  
  a:hover {
    color: white;
    text-transform: uppercase;
  }
   */
  small {
    font-size: 0.7rem;
    line-height: 0.9rem;
    color: #999;
  }
  
  .li2 {
    list-style: none;

    object-fit: contain; /* 이미지 비율 유지 최대한 맞춤 */
  }
  
  /*~~~~mobile start~~~~*/
  
  /* main */
  main {
    position: relative;
    min-width: 360px;
    /* background: #e8dcca; */

    max-height: 500px;
  }
  
  main .slide {
    position: relative;
    overflow: hidden;
    max-height: 500px;
  }
  
  main .panel {
    width: 300%;
    height: 100%;
    max-height: 500px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    
  }
  
  main .panel:after {
    content: "";
    display: block;
    clear: both;
  }
  
  main .panel>li {
    width: 33.333%;
    height: 800px;
    float: left;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
  }
  

.li2_img{
    max-height: 500px;
    width: 11.111%;
    height: 800px;
    /* float: left; */
    /* border: 1px solid red; */
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li2_img .randomcard{
  width: 90%;
  align-self: center;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #efefef;
  border: 1px solid #ffffff;
  border-radius: 20px;
  text-shadow: #000000;
}

.randomcard:hover{
  border: 1px solid #adadad;
  transform: translateY(-20px);
}

  main .opa {
    position: relative;
    /* background: rgba(0, 0, 0, 0.1); */
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 500px; /* 사진이 자꾸 아래로 쏠려서 최대높이 지정함*/
    /* object-position: center center; 이미지를 가로 및 세로축 중앙으로 정렬 */
  }
  
  main .opa section {
    position: absolute;
    top: 20%;
    left: 10%;
    color: #fff;
    max-height: 500px;
  }

  /* 슬라이드 div안의 image크기를 고정시키기 위해 추가 */
  main .opa img.card__image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;

    height: 500px;

    object-fit: contain; /* 이미지 비율 유지 최대한 맞춤 */
    object-position: center 40%; /* 이미지 가운데의 40%위치 */

    top: 0;
    left: 0;
  }

  main .opa section h3, main .opa section h4 {
    color: #fff;
  }
  
  main .opa section h4 {
    margin: 1rem 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
  
  main .opa section button {
    background: none;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    font-size: 1.1rem;
    color: #fff;
    cursor: pointer;
  }
  
  main .dot:after {
    content: "";
    display: block;
    clear: both;
  }
  
  main .dot {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
  }
  
  main .dot>li {
    float: left;
    background: #c3c3c3;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 8px;
    text-indent: -9999px;
    cursor: pointer;
  }
  
  main .dot>li.on {
    background: #5ca8b5;
    width: 15px;
    height: 15px;
  }
  
  
  /*~~~~labtop start~~~~*/
  /* @media screen and (min-width: 1000px) {
  
      main .opa section {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 800px;
      color: #fff;
    }
      
    main .opa section h3{
      font-size: 2.4rem;
      line-height: 3rem;
    }
    
    main .opa section h4 {
      font-size: 1.5rem;
      margin: 2rem 0;
    }
  } */






























/* 게시글 뿌려주는 card css*/
/* 될지 모르겠는데 카테고리를 div에 버튼형식으로 눈에 띄게 하고싶어서 해봄 */
  .ctgButton {
    background: none;
    border: 2px solid #6A515E;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    /* font-size: 1.1rem; */
    color: #6A515E;
    cursor: pointer;

    cursor: default;/* 마우스호버해도 커서모양 변경되지 않게 */
    display: inline;
    white-space: nowrap; /*줄변경방지*/

    -webkit-text-stroke: medium; /* 카테고리 텍스트두께 */
    margin-right: 0.5rem; /* 버튼과 제목 사이의 간격을 조절할 수 있음 */
  }

  .category-button {
    display: inline-block;
    white-space: nowrap;
    margin-right: 1px; /* 버튼과 제목 사이에 간격 조정 */
}

/* 될지 모르겠는데 카테고리를 div에 버튼형식으로 눈에 띄게 하고싶어서 해봄 */





  :root {
    --surface-color: #fff;
    --curve: 40;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 15vw;
    padding: 0;
    list-style-type: none;
  }
  
  .meetList_hidden{
    display: none;
  }

  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
    max-width: 100%;
    max-height: 100%;
    min-width: 400px; /* 최소 가로 크기 지정 */
    min-height: 500px; /* 최소 세로 크기 지정 */
    width: auto;
    height: auto;
    object-fit: contain; /* 이미지 비율 유지 최대한 맞춤 */
    object-position: center 40%; /* 이미지 가운데의 40%위치 */
    background-color: floralwhite; /*사진크기 작을 경우 대비 배경색깔아줌*/
    
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: 90px; /*아래 사진이 너무 짤려서 기본 공간 넣어줌*/
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    /* align-items: center; 원래이거였는데 한줄 더 넣어보려고 아래껄로 바꿨음. 에러나면 아래꺼 써*/
    align-items: stretch; 
    gap: 1em;
    padding: 1em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
  
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 70px;
    height: 70px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    /* margin: 0 0 -0.3em;         //margin: 0 0 .3em;이었는데 여백조정하려고 바꿔봄 */
    color: #6A515E;
  
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    /* display: -webkit-box; */
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;

    margin: 0;


    display: inline;
    white-space: nowrap;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .9em;
    color: #D7BDCA;
  }
  
  .card__description {
    /*padding: 0 2em 1em;
    margin: 0;*/
    color: #D7BDCA;
    font-family: "omyu_pretty";   
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    
  
  .card__description p {
    color: #d7bdca;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  
  .description1 {
    margin: 0;
    padding: 0 2em 1em;
  }
  
  
  





  /* 좋아요 버튼 */
  .heart {
    cursor: pointer;
    height: 40%;
    width: 40%;
    background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
    background-position: left;
    background-repeat:no-repeat;
    background-size: 2900%;
    position: absolute;
    right: 0px;

    top: -30px; /* 간격 조금 늘림 */
  }
  
  .heart:hover {
    background-position: right;
  }
  
  .like{
    background-position: right;
  }
  
  .is_animating {
    animation: heart-burst 0.8s steps(28) 1;
  }
  
  .button__like {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 1;
    cursor: pointer;
  }
  
  @keyframes heart-burst {
    from {background-position:left;}
    to { background-position:right;}
  }  
  
  







/* 검색창 */
.suggest {
  display: none;
  position: absolute;
  left: 11px;
  top: 141px;
}


/* header > .search-input-box {
  flex-grow: 1;
  height: 150px;
} */
.search-input-box {
  flex-grow: 1;
  height: 30px;
}
/* 
.search-input-box > form {
margin: 0 auto;
height: 100%;
position: relative;
}

.search-input-box > form > input {
width: 400px;
outline: none;
border: 1px solid #5CA8B5;
height: 100%;
box-sizing: border-box;
border-radius: 5px;
padding: 0 8px;
}

.search-input-box > form > button {
position: absolute;
right: 0;
top: 0;
border: none;
height: 100%;
background-color: transparent;
} */

/*아이콘*/
/* .icon-box {
display: flex;
align-items: center;
justify-content: end;
width: 266px;
} */

.icon-box > svg {
margin: 0 10px;
}












