<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">

<title>아티클</title>


<style>
    footer{
        position: static !important;
    }
</style>

<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/index.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/bbsYj/articleYj.css}"/>
<link rel="icon" type="image/png" th:href="@{http://localhost:8080/image/로고.png}"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
<!-- <link rel="stylesheet" href="https://kit.fontawesome.com/1f0cefbb8e.css" crossorigin="anonymous"> -->
<!-- <script src="https://kit.fontawesome.com/1f0cefbb8e.js" crossorigin="anonymous"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>

    // 페이지 로드 시 초기 버튼 상태 설정
    document.addEventListener('DOMContentLoaded', function() {
        var homeButton = document.querySelector('#btnradio1');
        var reviewButton = document.querySelector('#btnradio2');
        var meetStatus = document.querySelector('#meetStatus').value;  // meetStatus를 가져옴

        if (window.location.hash === '#review') {
            // 리뷰 버튼이 선택된 상태로 초기화
            reviewButton.checked = true;
            showReviewContent();
        } else {
            // 홈 버튼이 선택된 상태로 초기화
            homeButton.checked = true;
            showHomeContent();
        }

        // 버튼 클릭 시 해시 변경
        homeButton.addEventListener('click', function() {
            window.location.hash = '#home';
            showHomeContent();
        });

        reviewButton.addEventListener('click', function() {
        if (meetStatus === "1") {
            alert('현재 진행 중인 모임입니다. \n\n※리뷰는 모임이 완료된 후 작성하실 수 있습니다.');
            homeButton.checked = true;
            showHomeContent();
        } else {
            window.location.hash = '#review';
            showReviewContent();
        }
    });
});

    // 홈 내용 표시 함수
    function showHomeContent() {
        document.querySelector('.yj-img').style.display = 'block';
        document.querySelector('.yj-img2').style.display = 'none';
        document.querySelector('.meet-members').style.display = 'block';
    }

    // 리뷰 내용 표시 함수
    function showReviewContent() {
        document.querySelector('.yj-img').style.display = 'none';
        document.querySelector('.yj-img2').style.display = 'block';
        document.querySelector('.meet-members').style.display = 'none';
    }

    document.addEventListener('DOMContentLoaded', function() {

        var joinButton = document.querySelector('.join-button');
        
            joinButton.addEventListener('click', function() {
            alert('챌린지 참여가 완료되었습니다.');
            });
    });

    document.addEventListener('DOMContentLoaded', function() {

        var outButton = document.querySelector('.out-button');
        
        outButton.addEventListener('click', function() {
            alert('모임을 나가시겠습니까?');
            });
    });

    document.addEventListener('DOMContentLoaded', function() {

        var deleteButton = document.querySelector('.delete-button');
        
        deleteButton.addEventListener('click', function() {
            alert('모임을 삭제하시겠습니까?');
            });
    });

    document.addEventListener('DOMContentLoaded', function() {

        var reviewForm = document.querySelector('.review-form');
        var reviewWriteButton = document.querySelector('.review-write');

        reviewWriteButton.addEventListener('click', function() {
            if (reviewForm.style.display === 'block') {
                reviewForm.style.display = 'none';
            } else {
                reviewForm.style.display = 'block';
            }
            
        });

        document.querySelector('#submit-review').addEventListener('click', function(e) {
        e.preventDefault(); // 기본 이벤트 동작 방지 (페이지 새로고침 방지)

            var meetListNum = document.querySelector('#meet-listnum').value;
            var reviewContent = document.querySelector('#review-content').value;
            var reviewImage = document.querySelector('#review-image').files[0];

            // 리뷰 내용과 이미지 모두 필수로 입력되어야 함
            if (reviewContent.trim() === '' && !reviewImage) {
                alert('내용과 이미지를 모두 작성해주세요.');
            } else if (!reviewImage) {
                alert('이미지를 첨부해주세요.');
            } else if (reviewContent.trim() === '') {
                alert('내용을 작성해주세요.');
            } else {
                // 이미지 파일을 FormData에 추가
                var formData = new FormData();
                formData.append('meetListNum', meetListNum);
                formData.append('meetReviewContent', reviewContent);
                formData.append('meetReviewImg', reviewImage);

                $.ajax({
                    url: '/upload-review',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if (response === 'success') {
                            alert('리뷰가 게시되었습니다.');
                            document.querySelector('#review-content').value = '';
                            document.querySelector('#review-image').value = ''; // 이미지 파일 선택 초기화
                            window.location.reload();

                        } else if (response === 'already-reviewed') {
                            alert('이미 리뷰를 작성하셨습니다.');
                            window.location.reload();
                        }
                    },
                    error: function(xhr, status, error) {
                        alert('오류 발생: ' + status);
                    }
                });

            }
        });


        
    });

// 모달 창 열기
function openModal(imgElement) {
        // 모달 창 엘리먼트 생성
        var modal = document.createElement('div');
        modal.className = 'modal';
        
        // 모달 이미지 엘리먼트 생성
        var modalImg = document.createElement('img');
        modalImg.className = 'modal-content';
        modalImg.src = imgElement.src;
        
        // 모달 창에 이미지 추가
        modal.appendChild(modalImg);
        
        // 모달 창 스타일 설정
        modal.style.display = 'block';
        
        // 모달 창을 body에 추가
        document.body.appendChild(modal);
        
        // 모달 창을 클릭하면 닫히도록 이벤트 핸들러 추가
        modal.onclick = function() {
            modal.style.display = 'none';
            modal.remove(); // 모달 창 제거
        };
    }

function deleteReview(email, meetListNum, meetReviewNum) {
        if (confirm('리뷰를 삭제하시겠습니까?')) {
            $.ajax({
                type: "POST",
                url: "/delete-review",
                data: {
                    meetListNum: meetListNum,
                    meetReviewNum: meetReviewNum,
                    email: email
                },
                success: function (response) {
                    alert('삭제되었습니다.');
                    location.reload();
                },
                error: function () {
                    alert('삭제에 실패했습니다.');
                }
            });
        }
    }

    function inputNumberWithComma(str) {
        str = String(str);
        return str.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    document.addEventListener('DOMContentLoaded', function() {
        var meetMoneyElement = document.querySelector('.meet-money');
        var meetMoneyValue = meetMoneyElement.textContent;
        var formattedMeetMoney = inputNumberWithComma(meetMoneyValue);

        meetMoneyElement.textContent = formattedMeetMoney;
    });

</script>

</head>
<body>

<div layout:fragment="content">






    

    <div class="text-center">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="width: 800px; margin-bottom: 5px; margin-top: 20px;">
            <!-- 홈 버튼 -->
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-custom" for="btnradio1" onclick="showHomeContent()">
                <span style="color: black;">홈</span>
                <div class="underline"></div> <!-- 밑줄 요소 추가 -->
            </label>
            <!-- 리뷰 버튼 -->
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-custom" for="btnradio2" onclick="showReviewContent()">
                <span style="color: black;">리뷰</span>
                <div class="underline"></div> <!-- 밑줄 요소 추가 -->
            </label>
           
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-end homeaticle">
            <div class="col-8 mx-2 fixed-width-col">
    
                <div class="yj-img">
                    <img th:src="@{${'/image/challenge/' + challengeDTO.challengeImageMain}}" alt="">
                    <div class="Main_content" >

                        <div class="round-image">
                                <img style="margin-bottom: 30px;" th:src="@{|/image/login/${masterInfoDTO.picture}|}" alt="">
                        </div>

                        <p class="Yj-master" th:text="${masterInfoDTO.email}"></p>
                        <p class="Yj-title" th:text="${challengeDTO.challengeTitle}"></p>
                    </div>
                  
                    <div class="main-text">
                        <p class="Yj-text1" th:text="${challengeDTO.challengeContent}"></p>

                        <table>
                            <tr>
                                <td>성공</td>
                                <td>실패</td>
                            </tr>
                            <tr>

                            </tr>
                            <tr>

                            </tr>
                        </table>
                       



                        <div class="yj-info">상세 정보</div>
                        <p class="text-with-hyphen Yj-text2" th:text="${challengeDTO.challengeWeekCheck}"></p>
                        <p class="text-with-hyphen Yj-text2" th:text="${challengeDTO.challengeDateCheck}"></p>

                        <p class="text-with-hyphen Yj-text2" th:text="${challengeDTO.challengeStartDate}"></p>
                        <p class="text-with-hyphen Yj-text2" th:text="${challengeDTO.challengeEndDate}"></p>

                        <div class="yj-inwon">현재참가 인원</div>
                        <div class="text-container">
                            <p class="Yj-text3" th:text="${challengeDTO.challengeMemberCount}"></p>
                        </div>


                        


                        <div th:switch="${challengeInfoDTO != null}">
                            <div th:case="true">
                                <div th:switch="${challengeInfoDTO.challengeMemberStatus}">

                                    <div th:case="0">
                                        <form action="/joinChallenge.action" method="post">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="submit" class="join-button">
                                                가입하기
                                            </button>
                                            <input type="hidden" name="challengeListNum" th:value="${challengeDTO.challengeListNum}"/>
                                        </form>
                                    </div>

                                    <div th:case="1">
                                        <form action="/deleteChallenge.action" method="post">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="submit" class="delete-button">
                                                챌린지 삭제
                                            </button>
                                            <input type="hidden" name="challengeListNum" th:value="${challengeDTO.challengeListNum}"/>
                                        </form>                           
                                    </div>

                                    <div th:case="2">
                                        <form action="/giveUpChallenge" method="post">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="submit" class="out-button">
                                                챌린지 포기하기
                                            </button>
                                            <input type="hidden" name="challengeListNum" th:value="${challengeDTO.challengeListNum}"/>
                                        </form>
                                    </div>

                                </div>
                            </div>
                            <div th:case="false">
                                <form action="/joinChallenge.action" method="post">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="join-button">
                                        <input type="hidden" name="challengeListNum" th:value="${challengeDTO.challengeListNum}"/>
                                        가입하기
                                    </button>
                                </form>
                            </div>
                        </div>
                        

                        
                        <!-- <form id="outForm" action="/out-meet" method="post">
                            <input type="hidden" name="meetListNum" th:value="${challengeDTO.challengeListNum}"/>
                            <input type="hidden" name="email" th:value="${dto.email}"/>
                        </form> -->
                        
                        
                     
                        
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="meet-members">
                    <p>
                        <span style="margin-right: 37px; margin-left: 12px;">멤버목록</span>
                        <a th:if="${meetMemStatus == 1}" th:href="@{'/managerYj.action?meetListNum=' + ${meetListInfo.meetListNum}}" style="text-decoration: none;">
                            <span style="color: #adadad;">관리</span>
                            <i class="fa-solid fa-gear fa-sm" style="color: #adadad; vertical-align: 0px;"></i>
                        </a>
                    </p>
                    <div class="meet-mem-list" th:each="meetMember : ${meetMembers}">
                        <li class="round-image-rev mt-2" style="margin-right: 10px; margin-left: -10px;">
                            <img th:src="@{/image/gatchiImage/1111.jpg}" alt="유저프사(임의)"/>
                        </li>
                        <li class="custom-li" th:text="${meetMember}"></li>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="yj-img2">
        <div class="review-title">REVIEW</div>
        <div class="review-sub">이 모임 유저의 생생한 후기를 만나보세요!</div>
        <div class="review-write" th:if="${meetStatus == 2 and (meetMemStatus == 1 or meetMemStatus == 2)}">작성하기</div>
        <form action="/upload-review" method="POST" enctype="multipart/form-data">
            <div class="review-form" style="display: none;">
                <div class="review-input">
                    <textarea name="meetReviewContent" id="review-content" placeholder=" 리뷰를 작성해주세요."></textarea>
                    <input type="file" name="meetReviewImg" id="review-image" accept="image/*">
                    <input type="hidden" id="meet-listnum" name="meetListNum" th:value="${meetListNum}" />
                    <button id="submit-review">등록하기</button>
                </div>
            </div>
        </form>

        <th:block th:if="${#lists.isEmpty(meetReview)}">
            <div class="no-review">
                등록된 리뷰가 없습니다.
            </div>
        </th:block>

        <th:block th:unless="${#lists.isEmpty(meetReview)}">
            <div class="d-flex justify-content-center mb-4" th:each="meetReview : ${meetReview}">
                <div class="card" style="width: 36rem; margin-bottom: 20px; border:none;">
                    <div class="card-body">
                        <div class="d-flex flex-column mb-2">
                            <div class="round-image-rev mt-2">
                                <img th:src="@{/image/gatchiImage/1111.jpg}" alt="유저프사(임의)"/>
                            </div>
                            <p class="memid" th:text="${meetReview.email}"></p>
                            <div class="col-md-4 mx-auto" style="width: 300px; height: 300px; overflow: hidden; border-radius: 5px; margin-bottom: 10px; margin-top: 10px;">
                                <img th:src="@{${'/image/reviewImage/' + meetReview.meetReviewImg}}" class="img-fluid rounded-start" alt="리뷰사진" style="width: 100%; height: 100%; object-fit: cover; cursor: pointer;" onclick="openModal(this);">
                            </div>
                        </div>
                        <p class="card-text" th:text="${meetReview.meetReviewContent}" style="padding-left: 10px; padding-right: 10px; text-align: justify; font-size: 18px; margin-bottom: 5px;"></p>
                        <p class="card-text d-flex" th:text="${#strings.substring(meetReview.meetReviewDate, 0, 16)}" style="color: #AAAAAA; font-size: 13px; position: absolute; top: 0; right: 0; margin-top: 31px; margin-right: 20px;"></p>

                        <span class="card-text d-flex delete-review" style="color: #AAAAAA; font-size: 13px; position: absolute; top: 0; right: 0; margin-top: 50px; margin-right: 20px;" th:if="${loginEmail == meetReview.email}" th:data-email="${meetReview.email}" th:data-meetListNum="${meetListNum}" th:data-meetReviewNum="${meetReview.meetReviewNum}" onclick="deleteReview(this.getAttribute('data-email'), this.getAttribute('data-meetListNum'), this.getAttribute('data-meetReviewNum'))">삭제</span>

                    </div>
                </div>
            </div>
        </th:block>

    </div>






        
</div>

</body>
</html>