<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">

<title>아티클</title>


<style>
    footer{
        position: static !important;
    }
</style>

<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/index.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/challenge/challengeArticle.css}"/>
<link rel="icon" type="image/png" th:href="@{http://localhost:8080/image/로고.png}"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://kit.fontawesome.com/171f74c68f.js" crossorigin="anonymous"></script>


<script>

    // 페이지 로드 시 초기 버튼 상태 설정
    document.addEventListener('DOMContentLoaded', function() {
        var homeButton = document.querySelector('#btnradio1');
        var reviewButton = document.querySelector('#btnradio2');

        if (window.location.hash === '#review') {
            // 리뷰 버튼이 선택된 상태로 초기화
            reviewButton.checked = true;
            showReviewContent();
        } else {
            // 홈 버튼이 선택된 상태로 초기화
            homeButton.checked = true;
            showHomeContent();
        }

        // 버튼 클릭 시 해시 변경
        homeButton.addEventListener('click', function() {
            window.location.hash = '#home';
            showHomeContent();
        });


});

    // 홈 내용 표시 함수
    function showHomeContent() {
        document.querySelector('#homeAndreviw').classList.remove('reviwAndhome');
        document.querySelector('.yj-img').style.display = 'block';
        document.querySelector('.yj-img2').style.display = 'none';
        document.querySelector('.meet-members').style.display = 'block';
        document.querySelector('.meet-mypage').style.display = 'block';
    }

    // 리뷰 내용 표시 함수
    function showReviewContent() {
        document.querySelector('#homeAndreviw').classList.add('reviwAndhome');
        document.querySelector('.yj-img').style.display = 'none';
        document.querySelector('.yj-img2').style.display = 'block';
        document.querySelector('.meet-members').style.display = 'none';
        document.querySelector('.meet-mypage').style.display = 'none';
    }


    document.addEventListener('DOMContentLoaded', function() {

        var reviewForm = document.querySelector('.review-form');
        var reviewWriteButton = document.querySelector('.review-write');

        reviewWriteButton.addEventListener('click', function() {
            if (reviewForm.style.display === 'block') {
                reviewForm.style.display = 'none';
            } else {
                reviewForm.style.display = 'block';
            }
            
        });

        //리뷰 등록
    document.querySelector('#submit-review').addEventListener('click', function(e) {
        e.preventDefault(); // 기본 이벤트 동작 방지 (페이지 새로고침 방지)
        
            var challengeListNum = document.querySelector('#challengeListNum').value;
            var challengeAuthContent= document.querySelector('#challengeAuthContent').value;
            var challengeAuthImage = document.querySelector('#challengeAuthImage').files[0];
            
            challengeAuthContent = challengeAuthContent.replace(/\n/g, '\n');
            
            // 리뷰 내용과 이미지 모두 필수로 입력되어야 함
            if (challengeAuthContent.trim() === '' && !challengeAuthImage) {
                alert('내용과 이미지를 모두 작성해주세요.');
            } else if (!challengeAuthImage) {
                alert('이미지를 첨부해주세요.');
            } else if (challengeAuthContent.trim() === '') {
                alert('내용을 작성해주세요.');
            } else {
                // 이미지 파일을 FormData에 추가
                var formData = new FormData();
                formData.append('challengeListNum', challengeListNum);
                formData.append('challengeAuthContent', challengeAuthContent);
                formData.append('challengeAuthImage', challengeAuthImage);


                $.ajax({
                    url: '/uploadAuth',
                    method: 'POST',
                    data: formData,
                    processData: false, // 필수: formData 처리 비활성화
                    contentType: false, // 필수: 콘텐츠 타입 비활성화
                    success: function(response) {
                        if (response === 'success') {
                            alert('리뷰가 게시되었습니다.');
                          // 이미지 파일 선택 초기화
                          location.reload();
                           
                        } else if (response === 'already-reviewed') {
                            alert('이미 리뷰를 작성하셨습니다.');
                            
                        }
                    },
                    error: function(xhr, status, error) {
                        alert('오류 발생: ' + status);
                    }
                });

            }
            
        });
    });


    //리뷰 인증하기
    function confirmReview(challengeListNum,challengeAuthImage) {

        var ok = 'confirm' + challengeAuthImage;
        var now = 'now'+ challengeAuthImage;
        var select = 'selectAuth' + challengeAuthImage;

        if (confirm('인증을 승인하시겠습니까?')) {
            $.ajax({
                type: "POST",
                url: "/confirmReview.action",
                data: {
                    challengeListNum: challengeListNum,
                    challengeAuthImage: challengeAuthImage
                },
                success: function (response) {
                    alert('승인되었습니다.');
                    document.getElementById(ok).style.display = "block";
                    document.getElementById(select).style.display = "none";
                    document.getElementById(now).style.display = "none";
                },
                error: function () {
                    alert('승인에 실패했습니다.');
                }
            });
        }
    }

    //리뷰 거부하기
    function failReview(challengeListNum,challengeAuthImage) {

        var no = 'fail' + challengeAuthImage;
        var now = 'now'+ challengeAuthImage;
        var select = 'selectAuth' + challengeAuthImage;

        if (confirm('인증을 거부하시겠습니까?')) {
            $.ajax({
                type: "POST",
                url: "/failReview.action",
                data: {
                    challengeListNum: challengeListNum,
                    challengeAuthImage: challengeAuthImage
                },
                success: function (response) {
                    alert('거부되었습니다.');
                    document.getElementById(no).style.display = "block";
                    document.getElementById(select).style.display = "none";
                    document.getElementById(now).style.display = "none";
                
                },
                error: function () {
                    alert('거부에 실패했습니다.');
                }
            });
        }
    }

    // 모달 창 열기
    function openModal(imgElement) {
        // 모달 창 엘리먼트 생성
        var modal = document.createElement('div');
        modal.className = 'modal';
        
        // 모달 이미지 엘리먼트 생성
        var modalImg = document.createElement('img');
        modalImg.className = 'modal-content';
        modalImg.src = imgElement.src;
        
        // 모달 창에 이미지 추가
        modal.appendChild(modalImg);
        
        // 모달 창 스타일 설정
        modal.style.display = 'block';
        
        // 모달 창을 body에 추가
        document.body.appendChild(modal);
        
        // 모달 창을 클릭하면 닫히도록 이벤트 핸들러 추가
        modal.onclick = function() {
            modal.style.display = 'none';
            modal.remove(); // 모달 창 제거
        };
    }

    


    //리뷰삭제
    function deleteReview(email, challengeListNum, challengeAuthListNum ,challengeAuthImage) {
        if (confirm('리뷰를 삭제하시겠습니까?')) {
            $.ajax({
                type: "POST",
                url: "/deleteChallengeReview",
                data: {
                    challengeListNum: challengeListNum,
                    challengeAuthListNum: challengeAuthListNum,
                    email: email,
                    challengeAuthImage: challengeAuthImage
                },
                success: function (response) {
                    alert('삭제되었습니다.');
                    location.reload();
                },
                error: function () {
                    alert('삭제에 실패했습니다.');
                }
            });
        }
    }

    //챌린지 가입
    function joinChallenge() {
        if (confirm('챌린지에 가입하시겠습니까?')) {
            document.getElementById('joinChallengeForm').submit();
            alert('챌린지에 가입되었습니다!')
        }
    }
    //챌린지 삭제
    function deleteChallenge() {
        if (confirm('챌린지를 삭제하시겠습니까?')) {
            document.getElementById('deleteChallengeForm').submit();
            alert('챌린지에 삭제되었습니다!')
        }
    }
    //챌린지 포기
    function giveUpChallenge() {
        if (confirm('챌린지를 포기하시겠습니까?')) {
            document.getElementById('giveUpChallengeForm').submit();
            alert('챌린지를 포기하였습니다!')
        }
    }

    function chatRoom(){
    let challengeListNum = document.getElementById('challengeListNum').value;

    var options = 'width=600px,height=700px,scrollbars=yes'
            popupChat = window.open("articleChallengeChatRoom.action?challengeListNum=" + challengeListNum,"_blacnk",options);
}

// 달성률 표시
$(document).ready(function() {
        $('#countdown-wrap').each(function() {
            var currentAmount = parseInt($(this).find('#current-amount').text());
            var maxAmount = parseInt($(this).find('#max-amount').text());

            var percentage = Math.floor((currentAmount / maxAmount) * 100);
            
            var progressBar = $(this).find('#progress');
            progressBar.css('width', percentage + '%');
            progressBar.css('background-color', '#1d65b2');

            var percentElement = $(this).find('#goal');
            percentElement.text(percentage + "%");
        });
    });


setInterval(checkNotReadMessage, 700);

function checkNotReadMessage(){

    let user = {'userId': "article"};

    let requestOption = {
        method:'POST',
        headers:{
            'Content-Type':'application/json',
        },
        body:JSON.stringify(user)
    };

    fetch('/chat/checkNotReadMessage', requestOption)
      .then(response => response.json())
      .then(data => {
        // 가져온 숫자를 화면에 표시
        //console.log("데이타 : " + JSON.stringify(data));
        // console.log("checkNotReadMessage : " + JSON.stringify(data));
        roomsNotReadMessage(data);
      })
      .catch(error => {
        console.error('숫자 업데이트 중 오류 발생:', error);
      });
}


function roomsNotReadMessage(data){
    let rooms = document.getElementsByName("room");
    let notReadCountObject = data.notReadCount;
    let notReadCountKeys = Object.keys(notReadCountObject);
    let notReadCountSize = notReadCountKeys.length;

    // console.log("크기 : " + notReadCountSize);
    // console.log(rooms[0].getAttribute('data-value'));
    // console.log("위잉 : " + notReadCountKeys);

    for(let i=0; i<notReadCountSize; i++){
        for(let j=0; j<rooms.length; j++){
            let roomId = rooms[j].getAttribute('data-value');
            console.log(rooms[j].getAttribute('data-value'));
            let notReadCountValue = notReadCountObject[roomId];
            if(notReadCountValue <= 0){
                continue;
            }
            rooms[j].textContent = notReadCountValue;
        }
    }
}

</script>
<style>
tr{
    text-align: center;
}

            tr:first-child td {
            font-size: 18px;
            vertical-align: middle;
            width: 300px;
            height: 50px;
            border-bottom: #c8c8c8 solid 4px;
        }

        /* 2행의 높이 스타일 */
        tr:last-child {
            height: 200px;
        }

        /* 테이블 테두리 제거 */
        table {
            border-collapse: separate;
    border-spacing: 20px; 
            align-self: center;
            border: 0px ;
            
        }

#challengeAuthContent {
    width: 71%;
    margin-bottom: 10px;
    height: 100px;
}

.badge.challenge {
    background-color: red;
  }

  .finish-button {
    display: inline-block;
    padding: 8px 18px;
    font-size: 18px;
    background-color: #b3b3b3;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.15s ease;
    margin-right: 10px;
}
.square {
      width: 40px;
      height: 40px;
      margin: 3px;
      border-radius: 20%;
      display: inline-block;
    }
.green {
    background-color: rgb(22, 222, 22);
}

.gray {
    background-color: rgb(222, 222, 222);
}
</style>
</head>
<body>

<div layout:fragment="content">

    <div class="text-center">
        <div class="btn-group" id="homeAndreviw" role="group" aria-label="Basic radio toggle button group">
            <!-- 홈 버튼 -->
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-custom" for="btnradio1" onclick="showHomeContent()">
                <span style="color: black;">홈</span>
                <div class="underline"></div> <!-- 밑줄 요소 추가 -->
            </label>
            <!-- 리뷰 버튼 -->
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-custom" for="btnradio2" onclick="showReviewContent()">
                <span style="color: black;">인증하기</span>
                <div class="underline"></div> <!-- 밑줄 요소 추가 -->
            </label>
           
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-end homeaticle">

            <div class="col-md-2" id="mypage">
                <div class="meet-mypage">
                    <div class="badge challenge" th:text="challenge"></div>
                

                    <div class="user-info-container">
                            <div class="round-image-login" th:if="${#httpSession.getAttribute('user') != null}">
                                <img th:src="@{${session.user.picture}}">
                            </div>
                            <div class="round-image-login" th:if="${#httpSession.getAttribute('user1') != null}">
                                <img th:src="@{image/login/__${session.user1.picture}__}">
                            </div>
                        <div class="login-user-email" th:if="${#httpSession.getAttribute('user1') != null}" 
                        th:text="|${session.user1.name}"></div>
                        <div class="login-user-email" th:if="${#httpSession.getAttribute('user') != null}" 
                        th:text="|${session.user.name}"></div>
                        <div style="font-size: 17px; margin-top: 3px;">님</div>
                        <div th:if="${meetMemStatus == 1}" style="margin-left: 30px; color: #adadad; font-size: 17px;">👑</div>
                        <div th:if="${ChallengeMemberStatus == 1}" style="margin-left: 2px; color: #adadad; font-size: 17px; margin-top: 3px;">방장</div>
                        <div th:if="${ChallengeMemberStatus == 2}" style="margin-left: 30px; color: #adadad; font-size: 17px; margin-top: 3px;">🤗</div>
                        <div th:if="${ChallengeMemberStatus == 2}" style="margin-left: 2px; color: #adadad; font-size: 17px; margin-top: 3px;">회원</div>
                        <div th:if="${ChallengeMemberStatus == 0}" style="margin-left: 30px; color: #adadad; font-size: 17px;">⌛</div>
                        <div th:if="${ChallengeMemberStatus == 0}" style="margin-left: 2px; color: #adadad; font-size: 17px; margin-top: 3px;">승인대기중..</div>
                        <div th:if="${ChallengeMemberStatus < 0}" style="margin-left: 30px; color: #adadad; font-size: 17px; margin-top: 3px;">👤</div>
                        <div th:if="${ChallengeMemberStatus < 0}" style="margin-left: 2px; color: #adadad; font-size: 17px; margin-top: 3px;">손님</div>
                    </div>

                    <br/>
                    <br/>
                    <br/>

                    <button class="chat-btn" th:if="${ChallengeMemberStatus == 1 or ChallengeMemberStatus == 2}"  id="chatRoom" onclick="chatRoom()">
                        <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Speech%20Balloon.png" alt="Speech Balloon" width="25px" height="25px" /> 채팅 바로가기
                        <span class="notreadcount" name="room" th:attr="data-value=${roomId}">
                            -
                        </span>
                        <input type="hidden" id="ChallengeMemberStatus" name="ChallengeMemberStatus" th:value="${ChallengeMemberStatus}" />
                    </button>

                    <br/>
                    <h6><b>Challenge Record : </b><span th:text="${challengeDTO.challengeStartDate + ' ~ ' + challengeDTO.challengeEndDate}"></span> (총 <span th:text="${challengeDay}"></span>일)</h5>

                        <div id="countdown-wrap" style="height: 100px;">
                            <div id="goal"></div>
                            <div id="glass">
                                <div id="progress">
                                </div>
                            </div>
                            <div class="goal-stat">
                                <span class="goal-number" id="current-amount" th:text="${userAuthCnt}"></span>
                                <span class="goal-label" style="width: fit-content;">현재 인증 횟수</span>
                            </div>
                            <div class="goal-stat" style="margin-left: 140px; width: 31%;">
                                <span class="goal-number" style="text-align: right;" id="max-amount" th:text="${challengeDay}"></span>
                                <span class="goal-label">챌린지 총 횟수</span>
                            </div>
                        </div>
                        <br/>
                    <div style="margin-top: 60px;">
                        <th:block th:unless="${#lists.isEmpty(authStatus)}">
                            <div th:each="authStatus : ${authStatus}" style="display: inline-block; align-content: center;">
                                <div th:if="${authStatus==0}" class="square gray"></div>
                                <div th:if="${authStatus==1}" class="square green"></div>
                            </div>
                        </th:block>
                    </div>
                </div>
                
            </div>




            <div class="col-8 mx-2 fixed-width-col">
    
                <div class="yj-img">
                    <img th:src="@{${'/image/challenge/challengeList/' + challengeDTO.challengeImageMain}}" alt="">
                    <div class="Main_content" >

                        <div class="round-image">
                                <img style="margin-bottom: 30px;" th:src="@{|/image/login/${masterInfoDTO.picture}|}" alt="">
                        </div>

                        <p class="Yj-master" th:text="${masterInfoDTO.email}"></p>
                        <p class="Yj-title" th:text="${challengeDTO.challengeTitle}"></p>
                        <div class="centered-content">
                            <div class="like-hitCount">
                                <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Beating%20Heart.png" alt="Beating Heart" style="width: 30px; height: 30px;"/>
                                <div style="color: #383535; font-size: 17px;">좋아요
                                    <span style="color: red; font-weight: bold;" th:text="${challengeDTO.challengeLikeCount}">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    <div class="main-text">
                        <p class="Yj-text1" th:utext="${challengeDTO.challengeContent.replaceAll('\n', '<br>')}"></p>
                        
                        <br/>
                        <br/>
                        <br/>
                        <br/>

                        <table>
                            <tr>
                                <td><i class="fa-solid fa-check" style="color: #e60f0f;"></i> 인증 성공 예시</td>
                                <td><i class="fa-solid fa-xmark" style="color: #e60f0f;"></i> 인증 실패 예시</td>
                            </tr>
                            <tr style="width: 100%; height: 100%;">
                                
                                <td><img th:src="@{|/image/challenge/challengeList/${challengeDTO.challengeImageSuccess}|}" alt=""></td>
                                <td><img th:src="@{|/image/challenge/challengeList/${challengeDTO.challengeImageFail}|}" alt=""></td>
                            </tr>
                        </table>
                       



                        <div class="yj-info">상세 정보</div>
                        <p class="text-with-hyphen Yj-text2">
                            인증 빈도 : <span th:text="${challengeDTO.challengeWeekCheck}"></span>
                        </p>

                        <div th:if="${challengeDTO.challengeDateCheck}==1week">
                            <p class="text-with-hyphen Yj-text2">
                                인증 기간 : 1주일 동안!
                            </p>
                        </div>
                        <div th:if="${challengeDTO.challengeDateCheck}==2week">
                            <p class="text-with-hyphen Yj-text2">
                                인증 기간 : 2주일 동안!
                            </p>
                        </div>
                        <div th:if="${challengeDTO.challengeDateCheck}==3week">
                            <p class="text-with-hyphen Yj-text2">
                                인증 기간 : 3주일 동안!
                            </p>
                        </div>
                        <div th:if="${challengeDTO.challengeDateCheck}==1month">
                            <p class="text-with-hyphen Yj-text2">
                                인증 기간 : 1달 동안!
                            </p>
                        </div>
                    
                        <p class="text-with-hyphen Yj-text2">
                            <span th:text="${challengeDTO.challengeStartDate}"></span> 부터 <span th:text="${challengeDTO.challengeEndDate}"></span> 까지!
                        </p>

                        <div class="yj-inwon">현재참가 인원</div>
                        <div class="text-container">
                            <p class="Yj-text3" th:text="${challengeDTO.challengeMemberCount}"></p>
                        </div>


                        


                        <div th:switch="${ChallengeMemberStatus != null and challengeDTO.challengeStatus == 1}">
                            <div th:case="true">
                                <div th:switch="${ChallengeMemberStatus}">

                                    <div th:case="-1">
                                        <form action="/joinChallenge.action" id="joinChallengeForm" method="post">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="button" class="join-button" onclick="joinChallenge();">
                                                가입하기
                                            </button>
                                            <input type="hidden" name="challengeListNum" id="challengeListnum" th:value="${challengeDTO.challengeListNum}"/>
                                        </form>
                                    </div>

                                    <div th:case="1">
                                        <form action="/deleteChallenge.action" id="deleteChallengeForm" method="post">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="button" class="delete-button" onclick="deleteChallenge();">
                                                챌린지 삭제
                                            </button>
                                            <input type="hidden" name="challengeListNum" id="challengeListnum" th:value="${challengeDTO.challengeListNum}"/>
                                        </form>                           
                                    </div>

                                    <div th:case="2">
                                        <form action="/giveUpChallenge.action" id="giveUpChallengeForm" method="post">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="button" class="out-button" onclick="giveUpChallenge();">
                                                챌린지 포기하기
                                            </button>
                                            <input type="hidden" name="challengeListNum" id="challengeListnum" th:value="${challengeDTO.challengeListNum}"/>
                                        </form>
                                    </div>

                                </div>
                            </div>
                            <div th:case="false">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="finish-button" disabled>
                                    마감된 챌린지
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="meet-members">
                    <p style="margin-top: 10px; margin-bottom: 5px;">
                        <span style="margin-left: 12px;">멤버목록</span>
                        <span style="margin-left: 5px; color: #5CA8B5; font-weight: bold;" th:text="${challengeDTO.challengeMemberCount}"></span>
                        <span style="margin-right: 86px; color: #5CA8B5; font-weight: bold;">명</span>
                    </p>
                <div div class="meet-mem-back">
                    <div class="meet-mem-list" th:each="challengeMember : ${lists}">
                        <li class="round-image-user mt-2" style="margin-right: 10px; margin-left: -10px;">
                            <img th:if="${challengeMember.role == 'GUEST'}" th:src="@{${challengeMember.picture}}">
                            <img th:if="${challengeMember.role != 'GUEST'}" th:src="@{image/login/__${challengeMember.picture}__}">
                        </li>
                        <li class="custom-li" th:text="${challengeMember.name}"></li>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>

    <div class="yj-img2">
        <div class="review-title">인증</div>
        <div class="review-sub">이 챌린지에서 당신의 생생한 후기를 남겨보세요!</div>


        <div>
            <div class="noStart" th:if="${ChallengeMemberStatus == 2 or ChallengeMemberStatus == 1}">진행중인 챌린지가 아닙니다.</div>
        </div>


        <div th:if="${challengeDTO.challengeStatus==1 && challengeStartBoolean==false}">
            <div class="review-write" th:if="${ChallengeMemberStatus == 2 or ChallengeMemberStatus == 1}">작성하기</div>
        </div>

        <form action="uploadAuth" method="POST" enctype="multipart/form-data">
            <div class="review-form" style="display: none;">
                <div class="review-input">
                    <textarea name="challengeAuthContent" id="challengeAuthContent" placeholder=" 챌린지 인증내용을 작성해주세요."></textarea>
                    <input type="file" name="challengeAuthImage" id="challengeAuthImage" accept="image/*">
                    <input type="hidden" id="challengeListNum" name="challengeListNum" th:value="${challengeDTO.challengeListNum}" />
                    <button id="submit-review">등록하기</button>
                </div>
            </div>
        </form>

        <th:block th:if="${#lists.isEmpty(allReviewList)}">
            <div class="no-review">
                등록된 챌린지 인증이 없습니다.
            </div>
        </th:block>

        <th:block th:unless="${#lists.isEmpty(allReviewList)}">
            <div class="d-flex justify-content-center mb-4" th:each="allReviewList : ${allReviewList}">
                <div class="card" style="width: 36rem; margin-bottom: 20px; border:none;">
                    <div class="card-body">
                        <div class="d-flex flex-column mb-2">
                            <div class="round-image-user mt-2">
                                <img th:src="@{${'/image/login/' + allReviewList.picture}}" alt="유저프사(임의)"/>
                            </div>
                            <p class="memid" th:text="${allReviewList.email}"></p>
                            <div class="col-md-4 mx-auto" style="width: 300px; height: 300px; overflow: hidden; border-radius: 5px; margin-bottom: 10px; margin-top: 10px;">
                                <img th:src="@{${'/image/challenge/challengeCheck/' + allReviewList.challengeAuthImage}}" class="img-fluid rounded-start" alt="리뷰사진" style="width: 100%; height: 100%; object-fit: cover; cursor: pointer;" onclick="openModal(this);">
                            </div>
                        </div>
                        
                            <div th:if="${ChallengeMemberStatus == 1 and allReviewList.challengeAuthStatus == 0}" style="text-align: center;" th:id="'selectAuth'+${allReviewList.challengeAuthImage}">
                                    <span style="display: inline-block;">
                                        <i class="fa-regular fa-circle-check" style="color: #008000;"></i>
                                    </span>
                                    <h5 style="display: inline; color: rgb(0, 128, 0); cursor: pointer;" th:data-challengeListNum="${allReviewList.challengeListNum}",
                                    th:data-challengeAuthImage="${allReviewList.challengeAuthImage}"
                                    onclick="confirmReview(
                                        this.getAttribute('data-challengeListNum'),
                                        this.getAttribute('data-challengeAuthImage'))">인증승인</h5>
&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span style="display: inline-block;">
                                        <i class="fa-solid fa-triangle-exclamation" style="color: #ff0000;"></i>
                                    </span>
                                    <h5 style="display: inline; color: rgb(255, 0, 0); cursor: pointer;" th:data-challengeListNum="${allReviewList.challengeListNum}",
                                    th:data-challengeAuthImage="${allReviewList.challengeAuthImage}"
                                    onclick="failReview(
                                        this.getAttribute('data-challengeListNum'),
                                        this.getAttribute('data-challengeAuthImage'))">인증거부</h5>
                            </div>  
                    
                        <div th:id="'now'+${allReviewList.challengeAuthImage}">
                            <div th:if="${allReviewList.challengeAuthStatus==0}">
                                <span style="display: inline-block;">
                                    <i class="fa-solid fa-spinner" style="color: #929292;"></i>
                                </span>
                                <h5 style="display: inline; color: #929292;">인증중</h5>
                            </div>
                            <div th:if="${allReviewList.challengeAuthStatus==1}">
                                <span style="display: inline-block;">
                                    <i class="fa-regular fa-circle-check" style="color: #008000;"></i>
                                </span>
                                <h5 style="display: inline; color: rgb(0, 128, 0);">인증완료!</h5>
                            </div>
                            <div th:if="${allReviewList.challengeAuthStatus==2}">
                                <span style="display: inline-block;">
                                    <i class="fa-solid fa-triangle-exclamation" style="color: #ff0000;"></i>
                                </span>
                                <h5 style="display: inline; color: rgb(255, 0, 0);">인증실패..</h5>
                            </div>
                        </div>


                        <div th:id="'confirm'+${allReviewList.challengeAuthImage}" style="display: none;">
                            <span style="display: inline-block;">
                                <i class="fa-regular fa-circle-check" style="color: #008000;"></i>
                            </span>
                            <h5 style="display: inline; color: rgb(0, 128, 0);">인증완료!</h5>
                        </div>

                        <div th:id="'fail'+${allReviewList.challengeAuthImage}" style="display: none;">
                            <span style="display: inline-block;">
                                <i class="fa-solid fa-triangle-exclamation" style="color: #ff0000;"></i>
                            </span>
                            <h5 style="display: inline; color: rgb(255, 0, 0);">인증실패..</h5>
                        </div>
                       

                        <p class="card-text" th:text="${allReviewList.challengeAuthContent}" style="padding-left: 10px; padding-right: 10px; text-align: justify; font-size: 18px; margin-bottom: 5px;"></p>
                        
                        <p class="card-text d-flex" th:text="${allReviewList.challengeAuthCreateDate}" style="color: #AAAAAA; font-size: 13px; position: absolute; top: 0; right: 0; margin-top: 31px; margin-right: 20px;"></p>

                        <span class="card-text d-flex delete-review" style="color: #AAAAAA; font-size: 13px; position: absolute; top: 0; right: 0; margin-top: 50px; margin-right: 20px;" 
                        th:if="${allReviewList.email == challengeInfoDTO.email}" 
                        th:data-email="${allReviewList.email}" 
                        th:data-challengeListNum="${allReviewList.challengeListNum}" 
                        th:data-challengeAuthListNum="${allReviewList.challengeAuthListNum}",
                        th:data-challengeAuthImage="${allReviewList.challengeAuthImage}"

                        onclick="deleteReview(
                            this.getAttribute('data-email'), 
                            this.getAttribute('data-challengeListNum'), 
                            this.getAttribute('data-challengeAuthListNum'),
                            this.getAttribute('data-challengeAuthImage'))">삭제</span>

                    </div>
                </div>
            </div>
        </th:block>

    </div>






        
</div>

</body>
</html>