<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">

<title>아티클</title>


<style>
    footer{
        position: static !important;
    }
</style>

<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/index.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/meetmate/article.css}"/>
<link rel="icon" type="image/png" th:href="@{http://localhost:8080/image/로고.png}"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
<script src="https://kit.fontawesome.com/1f0cefbb8e.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=y4onbfnsxz"></script>

<script>

    // 페이지 로드 시 초기 버튼 상태 설정
    document.addEventListener('DOMContentLoaded', function() {
        var homeButton = document.querySelector('#btnradio1');
        var reviewButton = document.querySelector('#btnradio2');
        var meetStatus = document.querySelector('#meetStatus').value;  // meetStatus를 가져옴

        if (window.location.hash === '#review') {
            // 리뷰 버튼이 선택된 상태로 초기화
            reviewButton.checked = true;
            showReviewContent();
        } else {
            // 홈 버튼이 선택된 상태로 초기화
            homeButton.checked = true;
            showHomeContent();
        }

        // 버튼 클릭 시 해시 변경
        homeButton.addEventListener('click', function() {
            window.location.hash = '#home';
            showHomeContent();
        });

        reviewButton.addEventListener('click', function() {
        if (meetStatus === "1") {
            alert('현재 진행 중인 모임입니다. \n\n※리뷰는 모임이 완료된 후 작성하실 수 있습니다.');
            homeButton.checked = true;
            showHomeContent();
        } else {
            window.location.hash = '#review';
            showReviewContent();
        }
    });
});

    // 홈 내용 표시 함수
    function showHomeContent() {
        document.querySelector('#homeAndreviw').classList.remove('reviwAndhome');
        document.querySelector('.yj-img').style.display = 'block';
        document.querySelector('.yj-img2').style.display = 'none';
        document.querySelector('.meet-members').style.display = 'block';
        document.querySelector('.meet-mypage').style.display = 'block';
    }

    // 리뷰 내용 표시 함수
    function showReviewContent() {
        document.querySelector('#homeAndreviw').classList.add('reviwAndhome');
        document.querySelector('.yj-img').style.display = 'none';
        document.querySelector('.yj-img2').style.display = 'block';
        document.querySelector('.meet-members').style.display = 'none';
        document.querySelector('.meet-mypage').style.display = 'none';
    }

    // document.addEventListener('DOMContentLoaded', function() {

    //     var joinButton = document.querySelector('.join-button');
        
    //         joinButton.addEventListener('click', function() {
    //         alert('가입 신청이 완료되었습니다.');
    //         });
    // });

    // document.addEventListener('DOMContentLoaded', function() {

    //     var outButton = document.querySelector('.out-button');
        
    //     outButton.addEventListener('click', function() {
    //         alert('모임을 나가시겠습니까?');
    //         });
    // });

    // document.addEventListener('DOMContentLoaded', function() {

    //     var deleteButton = document.querySelector('.delete-button');
        
    //     deleteButton.addEventListener('click', function() {
    //         alert('모임을 삭제하시겠습니까?');
    //         });
    // });

    document.addEventListener('DOMContentLoaded', function() {

        var reviewForm = document.querySelector('.review-form');
        var reviewWriteButton = document.querySelector('.review-write');
        if(reviewWriteButton != null){
            reviewWriteButton.addEventListener('click', function() {
                if (reviewForm.style.display === 'block') {
                    reviewForm.style.display = 'none';
                } else {
                    reviewForm.style.display = 'block';
                }
                
            });
        }
        document.querySelector('#submit-review').addEventListener('click', function(e) {
        e.preventDefault(); // 기본 이벤트 동작 방지 (페이지 새로고침 방지)

            var meetListNum = document.querySelector('#meet-listnum').value;
            var reviewContent = document.querySelector('#review-content').value;
            reviewContent = reviewContent.replace(/\n/g, '\n');
            var reviewImage = document.querySelector('#review-image').files[0];

            // 리뷰 내용과 이미지 모두 필수로 입력되어야 함
            if (reviewContent.trim() === '' && !reviewImage) {
                alert('내용과 이미지를 모두 작성해주세요.');
            } else if (!reviewImage) {
                alert('이미지를 첨부해주세요.');
            } else if (reviewContent.trim() === '') {
                alert('내용을 작성해주세요.');
            } else {
                // 이미지 파일을 FormData에 추가
                var formData = new FormData();
                formData.append('meetListNum', meetListNum);
                formData.append('meetReviewContent', reviewContent);
                formData.append('meetReviewImg', reviewImage);

                $.ajax({
                    url: '/upload-review',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if (response === 'success') {
                            alert('리뷰가 게시되었습니다.');
                            document.querySelector('#review-content').value = '';
                            document.querySelector('#review-image').value = ''; // 이미지 파일 선택 초기화
                            window.location.reload();

                        } else if (response === 'already-reviewed') {
                            alert('이미 리뷰를 작성하셨습니다.');
                            window.location.reload();
                        }
                    },
                    error: function(xhr, status, error) {
                        alert('오류 발생: ' + status);
                    }
                });

            }
        });


        
    });

    // 모달 창 열기
    function openModal(imgElement) {

        var modal = document.createElement('div');
        modal.className = 'modal';
        
        var modalImg = document.createElement('img');
        modalImg.className = 'modal-content';
        modalImg.src = imgElement.src;
        
        modal.appendChild(modalImg);
        modal.style.display = 'block';
        
        document.body.appendChild(modal);
        
        modal.onclick = function() {
            modal.style.display = 'none';
            modal.remove();
        };
    }

    function deleteReview(email, meetListNum, meetReviewNum) {
        if (confirm('리뷰를 삭제하시겠습니까?')) {
            $.ajax({
                type: "POST",
                url: "/delete-review",
                data: {
                    meetListNum: meetListNum,
                    meetReviewNum: meetReviewNum,
                    email: email
                },
                success: function (response) {
                    alert('삭제되었습니다.');
                    location.reload();
                },
                error: function () {
                    alert('삭제에 실패했습니다.');
                }
            });
        }
    }

    function inputNumberWithComma(str) {
        str = String(str);
        return str.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    document.addEventListener('DOMContentLoaded', function() {
        var meetMoneyElement = document.querySelector('.meet-money');
        var meetMoneyValue = meetMoneyElement.textContent;
        var formattedMeetMoney = inputNumberWithComma(meetMoneyValue);

        meetMoneyElement.textContent = formattedMeetMoney;
    });

     // 인원수 달성률 계산 및 그래프 상태 업데이트
    $(document).ready(function() {
        $('#countdown-wrap').each(function() {
            var currentAmount = parseInt($(this).find('#current-amount').text());
            var maxAmount = parseInt($(this).find('#max-amount').text());

            var percentage = Math.floor((currentAmount / maxAmount) * 100);
            
            var progressBar = $(this).find('#progress');
            progressBar.css('width', percentage + '%');
            progressBar.css('background-color', '#1d65b2');

            var percentElement = $(this).find('#goal');
            percentElement.text(percentage + "%");
        });
    });

    // 펼치기 기능
    $(document).ready(function() {
        $("#expand-button").click(function() {
            $("#expandable-content").toggle();
            $("#request-text").toggle();

            if ($("#expand-button").text() === "ⅴ펼치기") {
                $("#expand-button").text("ⅴ접기");
            } else {
                $("#expand-button").text("ⅴ펼치기");
            }
        });
    });

    // 회원 개별선택
    function toggleAccept(element) {
        if (element.classList.contains('accepted')) {
            element.classList.remove('accepted');
            element.style.color = '';
        } else {
            element.classList.add('accepted');
            element.style.color = '#e9194d';
        }
    }

    // 회원 전체선택
    function toggleAll() {
        var elements = document.querySelectorAll('.approval-action');
        var selectAll = true;

        elements.forEach(function(element) {
            if (!element.classList.contains('accepted')) {
                selectAll = false;
                element.classList.add('accepted');
                element.style.color = '#e9194d';
            }
        });

        if (selectAll) {
            elements.forEach(function(element) {
                element.classList.remove('accepted');
                element.style.color = '';
            });
        }

        // "전체선택" 텍스트를 "전체해제"로 변경
        var selectAllText = document.querySelector('.approval-mem-back div[onclick="toggleAll()"]');
        if (selectAllText) {
            selectAllText.textContent = selectAll ? '전체선택' : '전체해제';
        }
    }
    
    function sendRequest() {
    var meetListNum = $('#meet-listnum').val();
    var selectedMembers = $('.approval-action.accepted');
    var selectedEmails = [];
    
    selectedMembers.each(function(index, element) {
        selectedEmails.push($(element).data('email'));
    });

    if (selectedEmails.length > 0) {
        var confirmation = confirm('선택한 회원에게 요청을 보내시겠습니까?');

        if (confirmation) {
            // JSON 문자열로 변환하여 'emails' 매개변수에 전달
            $.ajax({
                type: "POST",
                url: "/send-request",
                data: {
                    meetListNum: meetListNum,
                    emails: JSON.stringify(selectedEmails)
                },

                    success: function(response) {
                        alert('요청이 완료되었습니다');
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        alert('요청 전송 중 에러가 발생했습니다: ' + error);
                    }
                });
            }
        } else {
            alert('선택한 회원이 없습니다');
        }
    }

    function reqApproval(email, meetListNum) {
        if (confirm('요청을 승인하시겠습니까?')) {
            $.ajax({
                type: "POST",
                url: "/req-approval",
                data: {
                    meetListNum: meetListNum,
                    email: email
                },
                success: function (response) {
                    alert('승인되었습니다.');
                    location.reload();
                },
                error: function () {
                    alert('승인에 실패했습니다.');
                }
            });
        }
    }

  


    function reqReject(email, meetListNum) {
        if (confirm('요청을 기각하시겠습니까?')) {
            $.ajax({
                type: "POST",
                url: "/req-reject",
                data: {
                    meetListNum: meetListNum,
                    email: email
                },
                success: function (response) {
                    alert('기각되었습니다.');
                    location.reload();
                },
                error: function () {
                    alert('기각에 실패했습니다.');
                }
            });
        }
    }
    
    
function joinMeet(){

let title = document.getElementById('meetTitle').textContent;

let checkJoin = confirm(title + ' 모임에 가입하시겠습니까?');

let meetListNum = document.getElementById('meetListNum').value;
if(checkJoin){
    $.ajax({
            type: "POST",
            url: "/checkuserpoint",
            data: {
                meetListNum: meetListNum
            },
            success: function (response) {
                alert(response);
                if(response){
                    location.href = '/join-meet?meetListNum='+meetListNum;
                }else{
                    alert('포인트가 부족합니다.');
                }
            },
            error: function () {
                alert('다시 시도 해주세요..');
            }
        });
}
}

function joinMeetInCommuni() {

    let title = document.getElementById('meetTitle').textContent;

    let checkJoin = confirm(title + ' 모임에 가입하시겠습니까?');

    let meetListNum = document.getElementById('meetListNum').value;
    var code = document.getElementById("code").value;

    if(checkJoin){
        $.ajax({
            type: "POST",
            url: "/checkBeforeJoin",
            data: {
                meetListNum: meetListNum
            },
            success: function (response) {
                alert(response);
                if(response == 0){
                    alert('가입이 완료되었습니다');
                    location.href = '/join-meet?meetListNum='+meetListNum;
                }else if(response == 1){
                    alert('이 모임에 가입하실 경우 해당 communiFind 모임 먼저 가입해야합니다.\ncommuniFind 게시글로 이동하시겠습니까?');

                    location.href = '/communiArticle.action?meetListNum=' + code;
                }else{
                    alert('포인트가 부족합니다.');
                }
            },
            error: function () {
                alert('다시 시도 해주세요..');
            }
        });
    }

}

function joinCancel(){
let meetListNum = document.getElementById('meetListNum').value;
let title = document.getElementById('meetTitle').textContent;

let joincancel = confirm(title + ' 모임의 가입을 취소하시겠습니까?');
if(joincancel){
    $.ajax({
            type: "POST",
            url: "/joincancel",
            data: {
                meetListNum: meetListNum
            },
            success: function (response) {
                if(response){
                    location.href = '/meetArticle.action?meetListNum='+meetListNum;
                }else{
                    alert('이미 가입되셨습니다...');
                }
            },
            error: function () {
                alert('다시 시도 해주세요..');
            }
        });
}
}

function deleteMeet() {
let meetListNum = document.getElementById('meetListNum').value;
let title = document.getElementById('meetTitle').textContent;

let joincancel = confirm(title + ' 모임을 삭제하시겠습니까?');
if(joincancel){
    $.ajax({
            type: "POST",
            url: "/meettimecheck",
            data: {
                meetListNum: meetListNum
            },
            success: function (response) {
                if(response == 1){
                    alert('취소 되었습니다.');
                    location.href = '/delete-meet?meetListNum='+meetListNum;
                }else if(response === 2){
                    alert('모임 시간이 지났습니다.');
                }
                else{
                    alert('다시 시도해 주세요..');
                }
            },
            error: function () {
                alert('다시 시도 해주세요..');
            }
        });
}
}

function outmeet(){
let meetListNum = document.getElementById('meetListNum').value;
let title = document.getElementById('meetTitle').textContent;

let joincancel = confirm(title + ' 모임을 탈퇴 하시겠습니까?');
if(joincancel){
    $.ajax({
            type: "POST",
            url: "/meettimecheck",
            data: {
                meetListNum: meetListNum
            },
            success: function (response) {
                if(response == 1){
                    alert('탈퇴 되었습니다.');
                    location.href = '/out-meet?meetListNum='+meetListNum;
                }else if(response === 2){
                    alert('모임 시간이 지났습니다.');
                }
                else{
                    alert('다시 시도해 주세요..');
                }
            },
            error: function () {
                alert('다시 시도 해주세요..');
            }
        });
}
}

function testMeet() {
    let meetListNum = document.getElementById('meetListNum').value;
    let title = document.getElementById('meetTitle').textContent;

    let reqMoney = confirm(title + ' 모임 정산을 멤버들에게 요청할까요?');

    if(reqMoney){
        $.ajax({
                type: "POST",
                url: "/sendCalculate",
                data: {
                    meetListNum: meetListNum
                },
                success: function (response) {
                    if(response == 1){
                        alert('멤버들에게 정산요청을 하였습니다.');
                        location.href = '/articleYj.action?meetListNum='+meetListNum;
                    }else if(response === 2){
                        alert('....');
                    }
                    else{
                        alert('다시 시도해 주세요..');
                    }
                },
                error: function () {
                    alert('알수없는 에러 입니다.. 고객센터에게 문의해주세요');
                }
            });

    }
}

function test2Meet(){
    let meetListNum = document.getElementById('meetListNum').value;
    let title = document.getElementById('meetTitle').textContent;

    let reqMoney = confirm(title + ' 모임 정산을 멤버들에게 요청할까요?');

    if(reqMoney){
        $.ajax({
                type: "POST",
                url: "/reqCalculate",
                data: {
                    meetListNum: meetListNum
                },
                success: function (response) {
                    if(response == 1){
                        alert('멤버들에게 정산요청을 하였습니다.');
                        location.href = '/articleYj.action?meetListNum='+meetListNum;
                    }else if(response === 2){
                        alert('....');
                    }
                    else{
                        alert('다시 시도해 주세요..');
                    }
                },
                error: function () {
                    alert('알수없는 에러 입니다.. 고객센터에게 문의해주세요');
                }
            });

    }
}

function chatRoom(){
    let meetListNum = document.getElementById('meetListNum').value;

    var options = 'width=600px,height=700px,scrollbars=yes'
            popupChat = window.open("articleChatRoom.action?meetListNum=" + meetListNum,"_blacnk",options);
}

function transformNumber(number) {
  // 주어진 숫자를 100으로 나누고 100을 곱하여 변환
  return Math.floor(number / 100) * 100;
}

$(window).on('scroll', function () {
    var $fbw = $('.meet-mypage');

    let winScr = transformNumber(500 + window.scrollY);
    let contentH = document.getElementById("article-content");
    let h = transformNumber(contentH.offsetHeight);
    console.log("winScr : " + winScr);
    console.log("h : " + h);
    //위치
    if (winScr > h) {
        $fbw.css({
            'margin-top': h - winScr
        })
    } else {
        $fbw.css({
            'margin-top': 'auto'
        })
    }
});


setInterval(checkNotReadMessage, 700);

function checkNotReadMessage(){

    let user = {'userId': "article"};

    let requestOption = {
        method:'POST',
        headers:{
            'Content-Type':'application/json',
        },
        body:JSON.stringify(user)
    };

    fetch('/chat/checkNotReadMessage', requestOption)
      .then(response => response.json())
      .then(data => {
        // 가져온 숫자를 화면에 표시
        //console.log("데이타 : " + JSON.stringify(data));
        // console.log("checkNotReadMessage : " + JSON.stringify(data));
        roomsNotReadMessage(data);
      })
      .catch(error => {
        console.error('숫자 업데이트 중 오류 발생:', error);
      });
}

function roomsNotReadMessage(data){
    let rooms = document.getElementsByName("room");
    let notReadCountObject = data.notReadCount;
    let notReadCountKeys = Object.keys(notReadCountObject);
    let notReadCountSize = notReadCountKeys.length;

    // console.log("크기 : " + notReadCountSize);
    // console.log(rooms[0].getAttribute('data-value'));
    // console.log("위잉 : " + notReadCountKeys);

    for(let i=0; i<notReadCountSize; i++){
        for(let j=0; j<rooms.length; j++){
            let roomId = rooms[j].getAttribute('data-value');
            console.log(rooms[j].getAttribute('data-value'));
            let notReadCountValue = notReadCountObject[roomId];
            let preValue = rooms[j].textContent;
            let intValue = parseInt(preValue, 10);
            if(notReadCountValue <= 0){
                rooms[j].textContent = "";
                continue;
            }
            rooms[j].textContent = notReadCountValue;
        }
    }
}

</script>



</head>
<body>

<div layout:fragment="content">






    

    <div class="text-center">
        <div class="btn-group" id="homeAndreviw" role="group" aria-label="Basic radio toggle button group">
            <!-- 홈 버튼 -->
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-custom" for="btnradio1">
                <span style="color: #383535; font-size: 20px;">홈</span>
                <div class="underline"></div>
            </label>
            <!-- 리뷰 버튼 -->
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-custom" for="btnradio2">
                <span style="color: #383535; font-size: 20px;">리뷰</span>
                <div class="underline"></div>
            </label>
            <input type="hidden" id="meetStatus" th:value="${meetStatus}">
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-end homeaticle">
            <div class="col-md-2" id="mypage">
                <div class="meet-mypage" id="meet-mypage">
                    <div class="badge meetMate" th:text="${meetListInfo.meetCheck == 1 ? 'meetmate' : 'communifind'}"></div>
                    <div class="badge meetHow" th:text="${meetListInfo.meetHow == 1 ? '선착순' : '승인제'}"></div>
                    <div class="badge primary" th:text="${meetCategory[meetListInfo.meetCtgNum - 1].meetCtgName}"></div>

                    <div class="user-info-container">
                            <div class="round-image-login" th:if="${#httpSession.getAttribute('user') != null}">
                                <img th:src="@{${session.user.picture}}">
                            </div>
                            <div class="round-image-login" th:if="${#httpSession.getAttribute('user1') != null}">
                                <img th:src="@{image/login/__${session.user1.picture}__}">
                            </div>
                        <div class="login-user-email" th:if="${#httpSession.getAttribute('user1') != null}" 
                        th:text="|${session.user1.name}"></div>
                        <div class="login-user-email" th:if="${#httpSession.getAttribute('user') != null}" 
                        th:text="|${session.user.name}"></div>
                        <div style="font-size: 17px; margin-top: 3px;">님</div>
                        <div th:if="${meetMemStatus == 1}" style="margin-left: 30px; color: #adadad; font-size: 17px;">👑</div>
                        <div th:if="${meetMemStatus == 1}" style="margin-left: 2px; color: #adadad; font-size: 17px; margin-top: 3px;">방장</div>
                        <div th:if="${meetMemStatus == 2}" style="margin-left: 30px; color: #adadad; font-size: 17px; margin-top: 3px;">🤗</div>
                        <div th:if="${meetMemStatus == 2}" style="margin-left: 2px; color: #adadad; font-size: 17px; margin-top: 3px;">회원</div>
                        <div th:if="${meetMemStatus == 0}" style="margin-left: 30px; color: #adadad; font-size: 17px;">⌛</div>
                        <div th:if="${meetMemStatus == 0}" style="margin-left: 2px; color: #adadad; font-size: 17px; margin-top: 3px;">승인대기중..</div>
                        <div th:if="${meetMemStatus < 0}" style="margin-left: 30px; color: #adadad; font-size: 17px; margin-top: 3px;">👤</div>
                        <div th:if="${meetMemStatus < 0}" style="margin-left: 2px; color: #adadad; font-size: 17px; margin-top: 3px;">손님</div>
                    </div>

                    <hr/>

                    <div id="countdown-wrap" th:each="meetListInfo : ${meetListInfo}">
                        <div id="goal"></div>
                        <div id="glass">
                            <div id="progress">
                            </div>
                        </div>
                        <div class="goal-stat">
                            <span class="goal-number" id="current-amount" th:text="${meetListInfo.meetMemCnt}"></span>
                            <span class="goal-label">현재 인원</span>
                        </div>
                        <div class="goal-stat" style="margin-left: 160px; text-align: right;">
                            <span class="goal-number" id="max-amount" th:text="${meetListInfo.meetMaxMemCnt}"></span>
                            <span class="goal-label">모집 인원</span>
                        </div>
                    </div>

                    <button class="chat-btn" th:if="${meetMemStatus == 1 or meetMemStatus == 2}" id="chatRoom" onclick="chatRoom()">
                        <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Speech%20Balloon.png" alt="Speech Balloon" width="25px" height="25px" /> 채팅 바로가기
                        <span class="notreadcount" name="room" th:attr="data-value=${roomId}">
                            
                        </span>
                    </button>
                    
                    <div class="approval-back" th:if="${meetMemStatus == 1 and meetStatus == 2}"> 
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <div style="font-size: 18px;">승인요청</div>
                            <div class="approval-mem" id="expand-button">ⅴ펼치기</div>
                        </div>
                        <div style="margin-top: 10px;"></div>
                        <div class="approval-mem-back" id="expandable-content" style="display: none;" th:if="${membersExMaster.isEmpty()}">
                            <div style="text-align: center; margin-top: 45px; margin-left: 10px; font-size: 18px;">가입 중인 회원이 없습니다.</div>
                        </div>
                        
                        <div class="approval-mem-back" id="expandable-content" style="display: none;">
                            <div style="margin-left: auto; cursor: pointer; margin-right: 9px; color: #AAAAAA;" onclick="toggleAll()">전체선택</div>
                            <div style="margin-top: -10px;"></div>
                            <hr style="width: 95%; margin-left: 10px;">
                            <div class="approval-mem-list" th:each="membersExMaster : ${membersExMaster}">
                                <li class="round-image-user mt-2" style="margin-right: 10px;  margin-left: -10px;">
                                    <img th:if="${membersExMaster.role == 'GUEST'}" th:src="@{${membersExMaster.picture}}">
                                    <img th:if="${membersExMaster.role != 'GUEST'}" th:src="@{image/login/__${membersExMaster.picture}__}">
                                </li>
                                
                                <li class="approval-li" th:text="${membersExMaster.name}"></li>
                                <span class="approval-action" th:data-email="${membersExMaster.email}" th:data-meetListNum="${meetListNum}" th:data-name="${membersExMaster.name}" onclick="toggleAccept(this)">
                                    <span th:if="${membersExMaster.approvalStatus == -1}">√</span>
                                </span>
                                <span th:if="${membersExMaster.approvalStatus == 0}">대기</span>
                                <span th:if="${membersExMaster.approvalStatus == 1}" style="color: #2077d4;">승인</span>
                                <span th:if="${membersExMaster.approvalStatus == 2}" style="color: #e9194d;">기각</span>
                                
                            </div>
                        </div>

                        <input type="hidden" id="meet-listnum" name="meetListNum" th:value="${meetListNum}" />
                        <div id="request-text" th:if="${not membersExMaster.isEmpty()}" onclick="sendRequest()">요청하기</div>

                    </div>
                    

                    <div class="approval-back2" th:if="${meetMemStatus == 2 and approvalStatus >= 0}"> 
                        <div style="display: flex; align-items: center;">
                            <div style="margin-left: 6px; font-size: 18px;">승인요청</div>
                        </div>
                        <div style="margin-top: 10px;"></div>
                        <div class="approval-mem-back2" id="expandable-content">
                            <div class="approval-mem-q">
                                    
                                👑 <span class="approval-name" th:text="${meetMaster.name}"></span> 님이 요청하셨습니다. 승인하시겠습니까?
                            </div>

                            <div class="d-flex req-actions" th:each="member : ${membersExMaster}" th:if="${approvalStatus == 0}">
                                <span class="card-text d-flex req-approval" th:if="${#httpSession.getAttribute('user1') != null} and ${session.user1.email == member.email}" th:data-email="${member.email}" th:data-meetListNum="${meetListNum}" onclick="reqApproval(this.getAttribute('data-email'), this.getAttribute('data-meetListNum'))">승인</span>

                                <span class="card-text d-flex req-approval" th:if="${#httpSession.getAttribute('user') != null} and ${session.user.email == member.email}" th:data-email="${member.email}" th:data-meetListNum="${meetListNum}" onclick="reqApproval(this.getAttribute('data-email'), this.getAttribute('data-meetListNum'))">승인</span>

                                <span class="card-text d-flex req-reject" th:if="${#httpSession.getAttribute('user1') != null} and ${session.user1.email == member.email}" th:data-email="${member.email}" th:data-meetListNum="${meetListNum}" onclick="reqReject(this.getAttribute('data-email'), this.getAttribute('data-meetListNum'))">기각</span>

                                <span class="card-text d-flex req-reject" th:if="${#httpSession.getAttribute('user') != null} and ${session.user.email == member.email}" th:data-email="${member.email}" th:data-meetListNum="${meetListNum}" onclick="reqReject(this.getAttribute('data-email'), this.getAttribute('data-meetListNum'))">기각</span>
                            </div>
                            <div class="d-flex req-actions" th:if="${approvalStatus == 1}">
                                <div style="text-align: center; font-size: 18px; color: #2077d4;">승인되었습니다.</div>
                            </div>
                            <div class="d-flex req-actions" th:if="${approvalStatus == 2}">
                                <div style="text-align: center; font-size: 18px; color: #e9194d;">기각되었습니다.</div>
                            </div>

                        </div>
                    </div>

                   


                    
                </div>
            </div>

            <div class="col-8 mx-2 fixed-width-col" th:each="meetListInfo : ${meetListInfo}">
                <div class="yj-img" id="article-content">
                    <img th:src="@{${'/image/gatchiImage/' + meetListInfo.meetImage}}" alt="n번방의 대표사진">
                    <div class="Main_content" >
                        <div class="round-image">
                            <img th:src="@{|/image/login/${meetMaster.picture}|}" alt="방장프사"/>
                        </div>
                        <div class="Yj-master" th:each="meetMaster : ${meetMaster}" th:text="${meetMaster.name}"></div>
                        <p class="Yj-title" id="meetTitle" th:text="${meetListInfo.meetTitle}"></p>
                        <div class="centered-content">
                            <div class="like-hitCount">
                                <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Beating%20Heart.png" alt="Beating Heart" style="width: 30px; height: 30px;"/>
                                <div style="color: #383535; font-size: 17px;">좋아요
                                    <span style="color: #5CA8B5; font-weight: bold;" th:text="${meetListInfo.meetLikeCount}">
                                    </span>
                                </div>
                            </div>
                        
                            <div class="like-hitCount">
                                <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Eye%20in%20Speech%20Bubble.png" alt="Eye in Speech Bubble" style="width: 30px; height: 30px;"/>
                                <div style="color: #383535; font-size: 17px;">조회수
                                    <span style="color: #5CA8B5; font-weight: bold;" th:text="${meetListInfo.meetHitCount}">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="main-text">


                        <div style="width: 750px; height: 600px; background-color:#ffffff; margin: 0 auto 0 -2px; text-align: center;">
                            <h3>모임 장소</h3>
                            <div id="map" style="width:100%; height:500px;"></div>
                          </div>

                        
                        <input type="hidden" id="lat" name="lat" th:value="${mapDto.lat}"/>
                        <input type="hidden" id="lng" name="lng" th:value="${mapDto.lng}"/>

                        <div class="yj-intro">모임 소개</div>
                        <p class="Yj-text1" th:utext="${meetListInfo.meetContent.replaceAll('\n', '<br>')}"></p>

                        <div class="yj-info">상세 정보</div>
                        <p class="text-with-hyphen Yj-text2" th:text="${meetListInfo.meetPlace}"></p>
                        <p class="text-with-hyphen Yj-text2" th:text="${meetListInfo.meetDday}"></p>

                        <div class="yj-inwon">모집 인원</div>
                        <div class="text-container">
                            <p class="Yj-text3" th:text="${meetListInfo.meetMemCnt}"></p>/
                            <p class="Yj-text3" th:text="${meetListInfo.meetMaxMemCnt}"></p>
                        </div>

                        <div class="yj-money">가입비 (회비)</div>
                        <div class="text-container" th:if="${meetListInfo.meetEntryfee == 1}">
                            <p class="Yj-text4 meet-money" th:text="${meetListInfo.meetMoney}"></p>원
                            <input id="meetMoney" type="hidden" th:value="${meetListInfo.meetMoney}"/>
                        </div>
                        <div class="text-container" th:if="${meetListInfo.meetEntryfee == 2}">
                            <p class="Yj-text4 meet-money">무료</p>
                        </div>
                        
                        <form th:if="${meetMemStatus < 0} and ${meetStatus == 1} and ${meetListInfo.meetMemCnt<meetListInfo.meetMaxMemCnt} and ${meetListInfo.code == 0}">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button form="joinForm" type="button" class="join-button" onclick="joinMeet()">
                               가입하기
                            </button>
                        </form>
                   
                        <form th:if="${meetMemStatus < 0} and ${meetStatus == 1} and ${meetListInfo.meetMemCnt<meetListInfo.meetMaxMemCnt} and ${meetListInfo.code > 0}">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button form="joinForm" type="button" class="join-button" onclick="joinMeetInCommuni()">
                               가입하기
                            </button>
                        </form>
                        <input type="hidden" name="code" id="code" th:value="${meetListInfo.code}"/>

                        <form th:with="meetMemStatus=${meetMemStatus}" th:if="${meetMemStatus == 0}">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="join-button" onclick="joinCancel()">
                               가입취소
                            </button>
                        </form>
                        
                        <th:block th:if="${(meetListInfo.meetMemCnt >= meetListInfo.meetMaxMemCnt) and meetStatus == 1 and (meetMemStatus <0)}">
                            <p style="font-size: 18px; color: red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;정원 초과로 인해 현재 가입 신청이 불가능합니다.</p>
                        </th:block>
                        
                        <th:block th:if="${meetStatus == 2}">
                            <p style="font-size: 18px; color: red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;이미 종료된 모임입니다.</p>
                        </th:block>
                        <form id="joinForm" method="post">
                            <input type="hidden" name="meetListNum" id="meetListNum" th:value="${meetListNum}"/>
                        </form>

                        <form th:if="${meetMemStatus == 2} and ${meetStatus == 1} and ${approvalStatus !=0}">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button form="outForm" type="button" class="out-button" onclick="outmeet()">
                                모임 나가기
                            </button>
                        </form>
                        <form id="outForm" method="post">
                            <input type="hidden" name="meetListNum" th:value="${meetListNum}"/>
                            <input type="hidden" name="email" th:value="${dto.email}"/>
                        </form>
                        
                        <form th:with="meetMemStatus=${meetMemStatus}" th:if="${meetMemStatus == 1} and ${meetStatus == 1}">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button form="deleteForm" type="button" class="delete-button" onclick="deleteMeet()">
                                모임 삭제
                            </button>
                        </form>
                        <form id="deleteForm" method="post">
                            <input type="hidden" name="meetListNum" th:value="${meetListNum}"/>
                        </form>
                        <th:block th:if="${meetStatus == 1 and meetMemStatus == 0}">
                            <p style="font-size: 18px; color: rgb(0, 68, 255);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;가입 승인 대기 중입니다.</p>
                        </th:block>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="meet-members">
                    <p style="margin-top: 10px; margin-bottom: 5px;">
                        <span style="margin-left: 12px;">멤버목록</span>
                        <span th:each="meetListInfo : ${meetListInfo}" style="margin-left: 5px; color: #5CA8B5; font-weight: bold;" th:text="${meetListInfo.meetMemCnt}"></span>
                        <span style="margin-right: 86px; color: #5CA8B5; font-weight: bold;">명</span>
                        <a th:if="${meetMemStatus == 1}" th:href="@{'/meetManager.action?meetListNum=' + ${meetListInfo.meetListNum}}" style="text-decoration: none;">
                            <span style="color: #adadad;">관리</span>
                            <i class="fa-solid fa-gear" style="color: #c3c3c3; font-size: 13px;"></i>
                        </a>
                    </p>

                    <div div class="meet-mem-back">
                        <div class="meet-mem-list" th:each="meetMember : ${meetMembers}">
                            <li class="round-image-user mt-2" style="margin-right: 10px; margin-left: -10px;">
                                <img th:if="${meetMember.role == 'GUEST'}" th:src="@{${meetMember.picture}}">
                                <img th:if="${meetMember.role != 'GUEST'}" th:src="@{image/login/__${meetMember.picture}__}">
                            </li>
                            <li class="custom-li" th:text="${meetMember.name}"></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="yj-img2">
        <div class="review-title">REVIEW</div>
        <div class="review-sub">이 모임 유저의 생생한 후기를 만나보세요!</div>
        <div class="review-write" th:if="${meetStatus == 2 and (meetMemStatus == 1 or meetMemStatus == 2)}">작성하기</div>
        <form action="/upload-review" method="POST" enctype="multipart/form-data">
            <div class="review-form" style="display: none;">
                <div class="review-input">
                    <textarea name="meetReviewContent" id="review-content" placeholder=" 리뷰를 작성해주세요."></textarea>
                    <input type="file" name="meetReviewImg" id="review-image" accept="image/*">
                    <input type="hidden" id="meet-listnum" name="meetListNum" th:value="${meetListNum}" />
                    <button id="submit-review">등록하기</button>
                </div>
            </div>
        </form>

        <th:block th:if="${#lists.isEmpty(meetReview)}">
            <div class="no-review">
                등록된 리뷰가 없습니다.
            </div>
        </th:block>

        <th:block th:unless="${#lists.isEmpty(meetReview)}">
            <div class="d-flex justify-content-center mb-4" th:each="meetReview : ${meetReview}">
                <div class="card" style="width: 36rem; margin-bottom: 20px; border:none;">
                    <div class="card-body">
                        <div class="d-flex flex-column mb-2">
                            <div class="round-image-user mt-2">
                                <img th:if="${meetReview.role == 'GUEST'}" th:src="@{${meetReview.picture}}">
                                <img th:if="${meetReview.role != 'GUEST'}" th:src="@{image/login/__${meetReview.picture}__}">
                            </div>
                            <p class="memid" th:text="${meetReview.name}"></p>
                            <div class="col-md-4 mx-auto" style="width: 300px; height: 300px; overflow: hidden; border-radius: 5px; margin-bottom: 10px; margin-top: 10px;">
                                <img th:src="@{${'/image/reviewImage/' + meetReview.meetReviewImg}}" class="img-fluid rounded-start" alt="리뷰사진" style="width: 100%; height: 100%; object-fit: cover; cursor: pointer;" onclick="openModal(this);">
                            </div>
                        </div>
                        
                        <p class="card-text" th:utext="${meetReview.meetReviewContent.replaceAll('\n', '<br>')}" style="padding-left: 10px; padding-right: 10px; text-align: justify; font-size: 18px; margin-bottom: 5px; line-height: 22px;"></p>
                        <p class="card-text d-flex" th:text="${#strings.substring(meetReview.meetReviewDate, 0, 16)}" style="color: #AAAAAA; font-size: 13px; position: absolute; top: 0; right: 0; margin-top: 31px; margin-right: 20px;"></p>

                        <span class="card-text d-flex delete-review" th:if="${#httpSession.getAttribute('user1') != null} and ${session.user1.email == meetReview.email}" th:data-email="${meetReview.email}" th:data-meetListNum="${meetListNum}" th:data-meetReviewNum="${meetReview.meetReviewNum}" onclick="deleteReview(this.getAttribute('data-email'), this.getAttribute('data-meetListNum'), this.getAttribute('data-meetReviewNum'))">삭제</span>
                        <span class="card-text d-flex delete-review" th:if="${#httpSession.getAttribute('user') != null} and ${session.user.email == meetReview.email}" th:data-email="${meetReview.email}" th:data-meetListNum="${meetListNum}" th:data-meetReviewNum="${meetReview.meetReviewNum}" onclick="deleteReview(this.getAttribute('data-email'), this.getAttribute('data-meetListNum'), this.getAttribute('data-meetReviewNum'))">삭제</span>
                    </div>
                </div>
            </div>
        </th:block>
    </div>


   
      
    <script id="code">

        var lat = document.getElementById("lat").value;
        var lng = document.getElementById("lng").value;
    
        var HOME_PATH = window.HOME_PATH || '.';
        var position = new naver.maps.LatLng(lat, lng);
        
        var map = new naver.maps.Map('map', {
        center: position, //지도의 초기 중심 좌표
        zoom: 18, //지도의 초기 줌 레벨
      
    
    });
    
    var markerOptions = {
    position: position.destinationPoint(0, 0),
    map: map,
    icon: {
        url: HOME_PATH+'/image/map/marker-nowLocation.png',
        
        origin: new naver.maps.Point(0, 0),
        anchor: new naver.maps.Point(25, 26)
    }
    };
    var marker = new naver.maps.Marker(markerOptions);
    
    </script>


        
</div>

</body>
</html>