<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">

<title>CommuniFind 모임목록</title>

<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/meetmate/list.css}"/>
<link rel="icon" type="image/png" th:href="@{http://localhost:8080/image/로고.png}"/>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

</head>

<body>
  
  <!-- ★★★★★★ 슬라이드 CSS 수정, 슬라이드 노출 이미지 수정, like DB에 담기는거 추가해야돼 ★★★★★★ -->
<div layout:fragment="content">    

  <div class="c1">
    <input type="radio" id="trigger1" class="in1" name="slider">
      <label for="trigger1" class="label2"><span class="sr-only">Slide 1 of 5. A photo of a mountain pass with a winding path along the river and a view of distant mountains hiding in the mist.</span></label>
      <div class="slide bg1"></div>
  
      <input type="radio" id="trigger2" class="in1" name="slider" checked autofocus>
      <label for="trigger2" class="label2"><span class="sr-only">Slide 2 of 5. A photo of a bird eating sunflower seeds from an open hand.</span></label>
      <div class="slide bg2"></div>
  
      <input type="radio" id="trigger3" class="in1" name="slider">
      <label for="trigger3" class="label2"><span class="sr-only">Slide 3 of 5. A photo of a concrete bridge over the river with high voltage power lines on both banks.</span></label>
      <div class="slide bg3"></div>
  
      <input type="radio" id="trigger4" class="in1" name="slider">
      <label for="trigger4" class="label2"><span class="sr-only">Slide 4 of 5. A photo of a lake surrounded by the forest with mountains in the background.</span></label>
      <div class="slide bg4"></div>
  
      <input type="radio" id="trigger5" class="in1" name="slider">
      <label for="trigger5" class="label2"><span class="sr-only">Slide 5 of 5. A photo of a forest.</span></label>
      <div class="slide bg5"></div>
    </div>
<br/><br/><br/><br/>
 

<div class="2">
  <ul class="cards">
    
    <li th:each="items : ${meetLists}">
        <div class="card">
          <div id="heart" class="heart" name="likeCount"></div>    
        <div id="heart" class="button__like"></div>  
          <a href="#">
            <img th:src="@{|/image/gatchiImage/${items.meetImage}|}" class="card__image" alt="" />  
          </a>
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
              <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
              <div class="card__header-wrapper">
                <div class="card__header-text">
                  <h3 class="card__title" th:text="${items.meetName}">카테고리</h3>            
                  <span class="card__status" th:text="'약속일 : ' + ${items.meetDday} + ', 장소 : '">날짜, 시간,  장소</span><br/>
                  <span class="card__status" th:text="' 참여인원 : ' + ${items.meetMemCnt} + ' / ' + ${items.meetMaxMemCnt}">현재 참석인원 / 최대인원</span>
                </div>
              </div>       
            </div>
            <div class="description1">
             <p class="card__description" th:text="${items.meetContent}">글 내용</p>
            </div>
          </div>
        </div>    

      </li>
      
    </ul>
</div>

    <script>

      //좋아요버튼 애니메이션
      var isLike = false;

      $(".heart").on('click touchstart', function(){
        
        isLike = !isLike;

        if(isLike){
            $(this).toggleClass('is_animating');
            $(this).addClass('like')

        } else {
            $(this).removeClass('like')
        }
      });
    
      $(".heart").on('animationend', function(){
          $(this).toggleClass('is_animating');
      });

/*
      //좋아요 Ajax
      var isLike = false;



      $(".heart").on('click touchstart', function(){
        isLike = !isLike;
        var meetListNum =  1;// 모임 목록 번호를 가져오는 코드 (어떻게 가져올지는 구현에 따라 다름)
        String userEmail = "kim";   // 사용자 이메일을 가져오는 코드
        var likeClick = isLike ? 1 : 0; // 클릭 상태에 따라 1 또는 0으로 설정

        // Ajax 요청을 보냅니다.
        $.ajax({
            type: 'POST', // 또는 'GET'에 따라 서버 요청 방식 선택
            url: '/your-server-endpoint', // 서버 측 엔드포인트 URL을 지정합니다.
            data: {
                likeClick: likeClick,
                meetListNum: meetListNum,
                userEmail: userEmail
            },
            success: function(data) {
                // 서버로부터 성공적인 응답을 받았을 때 실행할 코드
            },
            error: function() {
                // 오류가 발생했을 때 실행할 코드
            }
        });
    });
*/          
    </script>

</div>

</body>

</html>
