<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">

<title>함께 GATCHI</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/meetmate/gatchiChoice.css}"/>
<link rel="icon" type="image/png" th:href="@{/image/로고.png}"/>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>


    <script type="text/javascript" th:src="@{/js/map/examples-base.js}"></script>
    <script type="text/javascript" th:src="@{/js/map/highlight.min.js}"></script>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=83bfuniegk"></script>
    <!-- 위도 경도 좌표가져오는 모듈 -->
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=YOUR_CLIENT_ID&submodules=geocoder"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css">
    <script src="https://kit.fontawesome.com/171f74c68f.js" crossorigin="anonymous"></script>
    <!-- <style type="text/css">
        .search { position:absolute;z-index:1000;top:20px;left:20px; }
        .search #address { width:150px;height:20px;line-height:20px;border:solid 1px #555;padding:5px;font-size:12px;box-sizing:content-box; }
        .search #submit1 { height:30px;line-height:30px;padding:0 10px;font-size:12px;border:solid 1px #555;border-radius:3px;cursor:pointer;box-sizing:content-box; }
    </style> 
    <style>
        .sidebar-custom { 
            position: absolute;
            top: 410px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #5CA8B5;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
            transform: translateX(50%);
            z-index: 1000;
            cursor: pointer;
            color: white;
            box-shadow: 1px 1px 4px #0c1e35;
        }
    </style>  -->

</head>


<body>

    <div layout:fragment="content">
        
        <div class="container1">
            
        <h1>GATCHI 개설하기</h1>
    
        <form action="" method="post" name="myForm">
        

        <label>GATCHI 유형 선택</label>
        <div id="wrap_gatchiCheck"> 
            <span id="wrap_meetMate" class="gatchiCheck">
                <input type="radio" id="meetMate" name="meetCheck" value="1" required onclick="gatchiCheck();">
                <label for="meetMate"> MeetMate </label>
            </span>
            <span id="wrap_communiFind" class="gatchiCheck" style="border: none;">
                <input type="radio" id="communiFind" name="meetCheck" value="2" required onclick="gatchiCheck();">
                <label for="communiFind"> CommuniFind </label>
            </span>
        </div> <br/><br/> 

        <div id="meetCheckDiv">
            <label>communiFind 모임명</label>
            <label style="color: rgba(145, 142, 142, 0.808); font-weight: 150;">
                모임명은 변경이 불가하오니, 충분히 고민 후 입력해주세요.</label>
                <input type="text" id="meetName" name="meetName" placeholder="communiFind 모임명" 
                    class="t1"  size="24" maxlength="24" required disabled/>
        </div>
        <br/><br/><br/>


        <div id="map" style="width:100%; height:500px;">
            <div class="search">
                <input id="address" type="text" placeholder="검색할 주소" />
                <input id="submit1" type="button" value="주소 검색" />
                <a id="now-location" class="sidebar-custom"><i class="ri-user-location-line"></i></a>
            </div>
        </div>
        <br/><br/>

        <div class="Btn2">
            <button type="button" class="createBtn" onclick="sendIt();">확인</button>        
            <button type="button" class="cancelBtn" onclick="cancelAction();">취소</button>
        </div>
    </div>

        <input type="hidden" value="" id="lat" name="lat"/>
        <input type="hidden" value="" id="lng" name="lng"/>
        <input type="hidden" value="" id="meetPlace" name="meetPlace"/>
        </form>





<!-- map세팅 -->
<script id="code">
    var map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(37.5666805, 126.9784147),
        zoom: 8,
        minZoom: 8, //지도의 최소 줌 레벨
        mapTypeId: naver.maps.MapTypeId.NORMAL,
        zoomControl: true, //줌 컨트롤의 표시 여부
        zoomControlOptions: { //줌 컨트롤의 옵션
            position: naver.maps.Position.TOP_RIGHT
        },
    });
    
    var infowindow = new naver.maps.InfoWindow({
        borderWidth: 0,
        disableAnchor: true,
        backgroundColor: 'transparent'
    });


    function onSuccessGeolocation(position) {
        var location = new naver.maps.LatLng(position.coords.latitude,
                                                position.coords.longitude);
    
        map.setCenter(location); // 얻은 좌표를 지도의 중심으로 설정합니다.
        map.setZoom(15); // 지도의 줌 레벨을 변경합니다.
    
        $("#now-location").on("click", function(e) {
            infowindow.open(map, location); //현재위치 아이콘
            map.setCenter(location); //현재위치 중심으로
        });


        infowindow.setContent('<img src="/image/map/marker-nowLocation.png"/>');
    
        infowindow.open(map, location);

        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
        var meetPlace = document.getElementById("meetPlace").value

        if(meetPlace===null||meetPlace==""){
            searchCoordinateToAddress(location);
        }

        document.getElementById("lat").value = lat;
        document.getElementById("lng").value = lng;
        
    }

    
    function onErrorGeolocation() {
        var center = map.getCenter();
    
        infowindow.setContent('<div style="padding:20px;">' +
            '<h5 style="margin-bottom:5px;color:#f00;">Geolocation failed!</h5>'+ "latitude: "+ center.lat() +"<br />longitude: "+ center.lng() +'</div>');
    
        infowindow.open(map, center);
    }
    
    $(window).on("load", function() {
        if (navigator.geolocation) {
            /**
             * navigator.geolocation 은 Chrome 50 버젼 이후로 HTTP 환경에서 사용이 Deprecate 되어 HTTPS 환경에서만 사용 가능 합니다.
             * http://localhost 에서는 사용이 가능하며, 테스트 목적으로, Chrome 의 바로가기를 만들어서 아래와 같이 설정하면 접속은 가능합니다.
             * chrome.exe --unsafely-treat-insecure-origin-as-secure="http://example.com"
             */
            navigator.geolocation.getCurrentPosition(onSuccessGeolocation, onErrorGeolocation);
        } else {
            var center = map.getCenter();
            infowindow.setContent('<div style="padding:20px;"><h5 style="margin-bottom:5px;color:#f00;">Geolocation not supported</h5></div>');
            infowindow.open(map, center);
        }
    });

</script>

<script>
    var infoWindow = new naver.maps.InfoWindow({
        borderWidth: 0,
        disableAnchor: true,
        backgroundColor: 'transparent',
        pixelOffset: new naver.maps.Point(-18, -50)
    });

    function searchCoordinateToAddress(latlng) {
        
    infoWindow.close();

    naver.maps.Service.reverseGeocode({
        coords: latlng,
        orders: [
            naver.maps.Service.OrderType.ADDR,
            naver.maps.Service.OrderType.ROAD_ADDR
        ].join(',')
    }, function(status, response) {
        if (status === naver.maps.Service.Status.ERROR) {
            return alert('Something Wrong!');
        }

        var items = response.v2.results,
            address = '',
            htmlAddresses = [];

        for (var i=0, ii=items.length, item, addrType; i<ii; i++) {
            item = items[i];
            address = makeAddress(item) || '';
            addrType = item.name === 'roadaddr' ? '[도로명 주소]' : '[지번 주소]';

            htmlAddresses.push((i+1) +'. '+ addrType +' '+ address);

            if(addrType==='[지번 주소]'){
                
                document.getElementById("meetPlace").value = address;
                
            }
        }

        infoWindow.setContent([
            '<img src="/image/map/marker-nowLocation.png"/>'
        ].join('\n'));
        
        console.log(latlng.y) //lat
        console.log(latlng.x) //lng

        var lat = latlng.y;
        var lng = latlng.x;

        document.getElementById("lat").value = lat;
        document.getElementById("lng").value = lng;

        infoWindow.open(map, latlng);
    });
    }


    function searchAddressToCoordinate(address) {
    naver.maps.Service.geocode({
        query: address
    }, function(status, response) {
        if (status === naver.maps.Service.Status.ERROR) {
            return alert('Something Wrong!');
        }

        if (response.v2.meta.totalCount === 0) {
            return alert('검색결과가 없습니다. 정확한 주소를 입력하세요.');
        }

        var htmlAddresses = [],
            item = response.v2.addresses[0],
            point = new naver.maps.Point(item.x, item.y);

        if (item.roadAddress) {
            htmlAddresses.push('[도로명 주소] ' + item.roadAddress);
        }

        if (item.jibunAddress) {
            
            htmlAddresses.push('[지번 주소] ' + item.jibunAddress);
            document.getElementById("meetPlace").value = item.jibunAddress;
        }

        if (item.englishAddress) {
            htmlAddresses.push('[영문명 주소] ' + item.englishAddress);
        }

        infoWindow.setContent([
            '<img src="/image/map/marker-nowLocation.png"/>'
        ].join('\n'));
        
        console.log(item.y) //lat
        console.log(item.x) //lng

        var lat = item.y;
        var lng = item.x;

        document.getElementById("lat").value = lat;
        document.getElementById("lng").value = lng;
        map.setCenter(point);
        infoWindow.open(map, point);
    });
    }


    function initGeocoder() {
    map.addListener('click', function(e) {
        searchCoordinateToAddress(e.coord);
    });

    $('#address').on('keydown', function(e) {
        var keyCode = e.which;

        if (keyCode === 13) { // Enter Key
            searchAddressToCoordinate($('#address').val());
        }
    });

    $('#submit1').on('click', function(e) {
        e.preventDefault();
        
        searchAddressToCoordinate($('#address').val());
    });


    }


    function makeAddress(item) {
    if (!item) {
        return;
    }

    var name = item.name,
        region = item.region,
        land = item.land,
        isRoadAddress = name === 'roadaddr';

    var sido = '', sigugun = '', dongmyun = '', ri = '', rest = '';

    if (hasArea(region.area1)) {
        sido = region.area1.name;
    }

    if (hasArea(region.area2)) {
        sigugun = region.area2.name;
    }

    if (hasArea(region.area3)) {
        dongmyun = region.area3.name;
    }

    if (hasArea(region.area4)) {
        ri = region.area4.name;
    }

    if (land) {
        if (hasData(land.number1)) {
            if (hasData(land.type) && land.type === '2') {
                rest += '산';
            }

            rest += land.number1;

            if (hasData(land.number2)) {
                rest += ('-' + land.number2);
            }
        }

        if (isRoadAddress === true) {
            if (checkLastString(dongmyun, '면')) {
                ri = land.name;
            } else {
                dongmyun = land.name;
                ri = '';
            }

            if (hasAddition(land.addition0)) {
                rest += ' ' + land.addition0.value;
            }
        }
    }

    return [sido, sigugun, dongmyun, ri, rest].join(' ');
    }


    function hasArea(area) {
    return !!(area && area.name && area.name !== '');
    }


    function hasData(data) {
    return !!(data && data !== '');
    }


    function checkLastString (word, lastString) {
    return new RegExp(lastString + '$').test(word);
    }


    function hasAddition (addition) {
    return !!(addition && addition.value);
    }

    naver.maps.onJSContentLoaded = initGeocoder;

</script>








<!-- 모임관련 -->
<script>

    //모집방법(meetMate, communiFind) 
    function gatchiCheck(){
    
        var meetMate = document.getElementById("meetMate")
        var communiFind = document.getElementById("communiFind")

        //css변경
        if(meetMate.checked){

            document.getElementById("wrap_meetMate").className='gatchiCheck_act';
            document.getElementById("wrap_communiFind").className='gatchiCheck';

        } else if (communiFind.checked) {

            document.getElementById("wrap_communiFind").className='gatchiCheck_act';
            document.getElementById("wrap_meetMate").className='gatchiCheck';

            //CommuniFind가 선택된 경우, div를 보이고 모임명 입력란을 활성화
            meetCheckDiv.style.display = 'block';
            document.getElementById("meetName").disabled = false;

            //meetMate로 변경되었을 때
            meetMate.onchange = function() {
                if (meetMate.checked) {//div 다시 비활성화
                    meetCheckDiv.style.display = 'none';
                }
            };
        }
    }       

</script>

<script>

    const sendIt = () => {

    var f = document.myForm;
    
    var meetMate = document.getElementById("meetMate");
    var communiFind = document.getElementById("communiFind");


    if (!meetMate.checked && !communiFind.checked) {        
        alert('Gatchi 유형을 선택하세요.')        
        return;

    }else{
        // setMeetCheck(document.querySelector('input[name="meetcheck"]:checked'));
        f.action = "/gatchiChoice.action";
        f.submit();
        
    }    

}

function cancelAction() {//모임 생성을 했다가 취소 버튼을 눌렀을 경우 이동경로
            var meetMate = document.getElementById("meetMate");
            var communiFind = document.getElementById("communiFind");

            if (meetMate.checked) {
                location.href = '/meetMateList.action';
            } else if (communiFind.checked) {
                location.href = '/CommuniFindList.action';
            } else {
                location.href = '/';
            }
        }

</script>

</div>

</body>

</html>




