<html layout:decorate="~{layout}">
    <head>
<meta charset="UTF-8">

<title>좋아요 버튼</title>

<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/index.css}"/>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<style>
 .heart {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}

.heart:hover {
  background-position: right;
}

.like{
  background-position: right;
}

.is_animating {
  animation: heart-burst 0.8s steps(28) 1;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}   
</style>

</head>

<body>        
    <div layout:fragment="content">   
        <div id="heart" class="heart"></div>    
    </div>
</body>

<script>
  var isLike = false
  /* when a user clicks, toggle the 'is-animating' class */
  $(".heart").on('click touchstart', function(){
    
    isLike = !isLike
    if(isLike){
          $(this).toggleClass('is_animating');
          $(this).addClass('like')
      }
      else{
          $(this).removeClass('like')
      }
  });

  /*when the animation is over, remove the class*/
  $(".heart").on('animationend', function(){
    $(this).toggleClass('is_animating');
  });
</script>

</html>