<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">

<title>MeetMate 모임목록</title>

<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/meetmate/list.css}"/>
<link rel="icon" type="image/png" th:href="@{http://localhost:8080/image/Icon2-removebg.png}"/>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<style>
 .heart {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}

.heart:hover {
  background-position: right;
}

.like{
  background-position: right;
}

.is_animating {
  animation: heart-burst 0.8s steps(28) 1;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}   
</style>

</head>
<body>

<div layout:fragment="content">    
  <ul class="cards">
      <li>
        <div class="card">
          <a href="#">
          <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" />  
          </a>
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
              <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">카테고리 위치</h3>            
                <span class="card__status">날짜, 시간, 위치</span><br/>
                <span class="card__status1">현재 참석인원 / 최대인원 위치</span>
                <div id="heart" class="heart" ></div>                    

              </div>             
            </div>
            <p class="card__description">이번 주 토요일 같이 저녁 먹으면서 얘기나눠요!  </p>
          </div>
        </div>      
      </li>
 

    </ul>
</div>

</body>

<script>
  $(document).ready(function() {
    var isLike = false;
    
    /* when a user clicks, toggle the 'is-animating' class */
   {/* $(".heart").on('click touchstart', function(){
    isLike = !isLike
    {/* if(isLike){
        $(this).toggleClass('is_animating');
        $(this).addClass('like')
    }
    else{
        $(this).removeClass('like')
    } */}
  });

  $(".heart").on('click touchstart', function() {
      isLike = !isLike;
      if (isLike) {
        $(this).toggleClass('is_animating');
        $(this).addClass('like');
      } else {
        $(this).removeClass('like');
      }
  });

  /* when the animation is over, remove the class */
  $(".heart").on('animationend', function(){
    $(this).toggleClass('is_animating');
  });
</script>

</html>