<html layout:decorate="~{layout}">
    <head>
<meta charset="UTF-8">

<title>멤버 관리</title>

<style>
    footer{
        position: static !important;
    }
</style>

<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/index.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/meetmate/manager.css}"/>
<link rel="icon" type="image/png" th:href="@{http://localhost:8080/image/로고.png}"/>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function accept(email, meetListNum, name) {
        var meetMemCnt = document.querySelector('#meetMemCnt').value;
        var meetMaxMemCnt = document.querySelector('#meetMaxMemCnt').value;
        
        if(parseInt(meetMemCnt) >= parseInt(meetMaxMemCnt)){
            
            alert('정원 초과로 인해 현재 수락이 불가능합니다.');
            return;

        } else if (confirm(name + '님을 수락하시겠습니까?')) {
            $.ajax({
                type: "POST",
                url: "/accept-to-waitlist",
                data: {
                    meetListNum: meetListNum,
                    email: email
                },
                success: function (response) {
                    alert('수락되었습니다.');
                    location.reload();
                },
                error: function () {
                    alert('수락에 실패했습니다.');
                }
            });
        }
    }

    function reject(email, meetListNum, name) {
        if (confirm(name + '님을 거절하시겠습니까?')) {
            $.ajax({
                type: "POST",
                url: "/reject-from-waitlist",
                data: {
                    meetListNum: meetListNum,
                    email: email
                },
                success: function (response) {
                    alert('거절되었습니다.');
                    location.reload();
                },
                error: function () {
                    alert('거절에 실패했습니다.');
                }
            });
        }
    }


    function kickOut(email, meetListNum, name) {
        if (confirm(name + '님을 강퇴하시겠습니까?')) {
            $.ajax({
                type: "POST",
                url: "/add-to-blacklist",
                data: {
                    meetListNum: meetListNum,
                    email: email
                },
                success: function (response) {
                    alert('블랙리스트에 추가되었습니다.');
                    location.reload();
                },
                error: function () {
                    alert('블랙리스트 추가에 실패했습니다.');
                }
            });
        }
    }



    function release(email, meetListNum, name) {
        if (confirm(name + '님을 블랙리스트에서 해제하시겠습니까?')) {
            $.ajax({
                type: "POST",
                url: "/release-from-blacklist",
                data: {
                    meetListNum: meetListNum,
                    email: email
                },
                success: function (response) {
                    alert('블랙리스트에서 해제되었습니다.');
                    location.reload();
                },
                error: function () {
                    alert('블랙리스트 해제에 실패했습니다.');
                }
            });
        }
    }

</script>

</head>
<body>
<div layout:fragment="content">

        

    <div class="all-background">

        <div class="manager-title">멤버 관리</div>
        <div class="container-wrapper">
        <div class="manager-container">
            <div th:if="${meetListInfo.meetHow == 2}">
                <div class="req-title">참여 대기 멤버</div>
                <div class="req-background" th:each="meetWait : ${meetWait}">
                    <div class="round-image">
                        <img th:src="@{/image/gatchiImage/1111.jpg}" alt="회원 프사(임의)"/>
                    </div>
                    <div class="mem-request" th:text="${meetWait.name}"></div>
                    <div class="actions">
                        <span class="accept-action" th:data-email="${meetWait.email}" th:data-meetListNum="${meetListNum}" th:data-name="${meetWait.name}" onclick="accept(this.getAttribute('data-email'), this.getAttribute('data-meetListNum'), this.getAttribute('data-name'))">수락</span> |
                        <span class="reject-action" th:data-email="${meetWait.email}" th:data-meetListNum="${meetListNum}" th:data-name="${meetWait.name}" onclick="reject(this.getAttribute('data-email'), this.getAttribute('data-meetListNum'), this.getAttribute('data-name'))">거절</span>
                    </div>
                    <input type="hidden" id="meetMemCnt" th:value="${meetListInfo.meetMemCnt}">
                    <input type="hidden" id="meetMaxMemCnt" th:value="${meetListInfo.meetMaxMemCnt}">
                </div>
                <div th:if="${meetWait.size() == 0}">
                    <p style="margin-top: 40px; margin-bottom: 40px;">대기 중인 멤버가 없습니다.</p>
                </div>
            </div>

            <div class="mem-title">참여 멤버</div>
            <div class="mem-background" th:each="meetMember : ${meetMembers}">
                <div class="round-image">
                    <img th:if="${meetMember.role == 'GUEST'}" th:src="@{${meetMember.picture}}">
                    <img th:if="${meetMember.role != 'GUEST'}" th:src="@{image/login/__${meetMember.picture}__}">
                </div>
                <div class="mem-request" th:text="${meetMember.name}"></div>
                <div class="actions">
                    <span th:unless="${meetMaster.email == meetMember.email}" class="out-action" th:data-email="${meetMember.email}" th:data-meetListNum="${meetListNum}" th:data-name="${meetMember.name}" onclick="kickOut(this.getAttribute('data-email'), this.getAttribute('data-meetListNum'), this.getAttribute('data-name'))">강퇴</span>
                </div>
            </div>
            <div th:if="${meetMembers.size() == 0}">
                <p class="no-members-message">참여 중인 멤버가 없습니다.</p>
            </div>
        </div>

            <div class="blacklist-container">
                <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Skull%20and%20Crossbones.png" alt="Skull and Crossbones" style="width: 35px; height: 35px; margin-top: 25px;"/>
                <div class="blacklist-title">블랙리스트</div>
                <hr style="width: 200px; height: 1px;">
                <div class="black-background" th:each="meetBlack : ${meetBlack}">
                    <div class="round-image2">
                        <img th:if="${meetBlack.role == 'GUEST'}" th:src="@{${meetBlack.picture}}">
                        <img th:if="${meetBlack.role != 'GUEST'}" th:src="@{image/login/__${meetBlack.picture}__}">
                    </div>
                    <div class="black-request" th:text="${meetBlack.name}"></div>
                    <div class="actions">
                        <span class="release-action" th:data-email="${meetBlack.email}" th:data-meetListNum="${meetListNum}" th:data-name="${meetBlack.name}" onclick="release(this.getAttribute('data-email'), this.getAttribute('data-meetListNum'), this.getAttribute('data-name'))">해제</span>
                    </div>
                </div>
                <div th:if="${meetBlack.size() == 0}">
                    <p style="margin-top: 75px;">등록된 멤버가 없습니다.</p>
                </div>
            </div>
        </div>

    </div>

    

</div>

</body>
</html>