<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">

<title>MeetMate 모임목록</title>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/meetmate/list.css}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<link rel="icon" type="image/png" th:href="@{http://localhost:8080/image/로고.png}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://localhost:8080/js/gatchi/meetMateList.js"></script>
<script src="js/includeHTML.js"></script>


</head>

<body>

<!-- ★★★★★★ like DB에 담기는거 추가해야돼 ★★★★★★ -->
<div layout:fragment="content">    

  <div class="meetTitle">
    <img src="/image/gatchiImage/meetmateList.png"/>
    <h1>Meet Mate에 오신걸 환영 합니다.</h1>
  </div>
  <div class="meetTitle_Sub">
    <p>똑같은 일상을 다채롭게 만들어 줄 원데이 취향 모임</p>
  </div>

  <div class="body7">

    <main>
    <article class="slide">
      
        <div class="panel">

            <th:block th:each="meet, iterStat : ${meetMateSlideLists}">
              <div  class="li2 li2_img">
                <div class="randomcard" th:style="'background-image: url(' + '/image/gatchiImage/' + ${meet.meetImage} + ');'">
                <div class="opa">
                  <section>
                    <!-- <img th:src="@{|/image/gatchiImage/${meet.meetImage}|}" class="card__image" alt=""/> -->
                    <h3 th:text="${meet.meetTitle}"></h3>
                    <h4 th:text="${meet.meetContent}"></h4>
                    <button>more ⇁</button>
                  </section>
                </div>
              </div>
              </div>
            </th:block>
          
        </div>
        <ul class="dot">
          <li class="on li2"></li>
          <li class="li2"></li>
          <li class="li2"></li>
          
        </ul>       
      </article>
    </main>  
  </div>
  <h2 th:text="|${session.user1.name}님의 참여를 기다리는 MeetMate List|" style="text-align: center; font-weight: normal; margin-top: 100px;"></h2>

  <div class="search-input-box" style="display: flex;">

    <form action="" method="get" name="searchForm" style="margin-left: 72%;">
      <select name="searchKey" class="selectFiled">
        <option value="meetTitle">제목</option>
        <option value="meetDday">모임일</option>
        <option value="meetPlace">장소</option>			
      </select>

      <input type="text" name="searchValue" placeholder="search.." onkeyup="sendKeyword();"/>
          <input type="button" onclick=""/>      
              <svg width="15" height="12" viewBox="0 0 34 30" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                  <path fill="none" d="M0 0h36v36H0z"/>
                  <g stroke="#5F0080" stroke-linecap="round" stroke-width="2">
                  <path d="m26.081 26.081-4.12-4.12M16.467 23.334a6.867 6.867 0 1 0 0-13.734 6.867 6.867 0 0 0 0 13.734z"/>
                  </g>
              </g>
              </svg>
        </input>
      
        <div id="suggestDiv" class="suggest">
            <div id="suggestListDiv"></div>
        </div>
    </form>
  </div>






  <div class="c2">
    <ul class="cards">
      
      <li name="meetLists" class="meetList_hidden" th:each="items : ${meetLists}">
          <div class="card">
            <div id="heart" class="heart" name="likeCount"></div>    
          <div id="heart" class="button__like"></div>  
            <a href="#">
              <img th:src="@{|/image/gatchiImage/${items.meetImage}|}" class="card__image" alt="" />  <!-- 클릭하면 article로 넘어가게 -->
            </a>
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" /><!--여기 회원 프로필사진-->
                <div class="card__header-wrapper">
                  <div class="card__header-text">
                    <span class="card__status" >
                      <span th:switch="${items.meetCtgNum}">
                        <span th:case="1" class="category-button">
                          <button class="ctgButton" disabled="disabled">문화·예술</button>
                          <h3 class="card__title" th:text="${items.meetTitle}">글제목</h3>
                        </span>
                        <span th:case="2" class="category-button">
                          <button class="ctgButton" disabled="disabled">맛집</button>
                          <h3 class="card__title" th:text="${items.meetTitle}">글제목</h3>    
                        </span>
                        <span th:case="3" class="category-button">
                          <button class="ctgButton" disabled="disabled">취미</button>
                          <h3 class="card__title" th:text="${items.meetTitle}">글제목</h3>    
                        </span>
                        <span th:case="4" class="category-button">
                          <button class="ctgButton" disabled="disabled">여행</button>
                          <h3 class="card__title" th:text="${items.meetTitle}">글제목</h3>    
                        </span>
                        <span th:case="5" class="category-button">
                          <button class="ctgButton" disabled="disabled">운동·액티비티</button>
                          <h3 class="card__title" th:text="${items.meetTitle}">글제목</h3>    
                        </span>
                    </span><br/>
                    <span class="card__status" th:text="'만남일 : ' + ${items.meetDday} + ', 장소 : '">날짜, 시간,  장소</span><br/>
                    <span class="card__status" th:text="' 참여인원 : ' + ${items.meetMemCnt} + ' / ' + ${items.meetMaxMemCnt}">현재 참석인원 / 최대인원</span>
                  </div>
                </div>
              </div>
              <div class="description1">
              <p class="card__description" th:text="${items.meetContent}">글 내용</p>
              </div>
            </div>
          </div>
        </li>
      </div>
      </ul>
  </div>

</div>


<!--  무한스크롤?????????? 일단 이건 안돼
<?php
$page = $_GET['page'];

if ($page) {
  // 페이지별로 생성할 카드 HTML을 반환합니다.
  // 적절한 데이터를 가져오고 HTML을 생성해야 합니다.
  // 예시:
  for ($i = 1; $i <= 8; $i++) {
    echo '<div class="card">';
    echo '새로운 카드 ' . ($page * 8 + $i);
    echo '</div>';
  }
} else {
  echo ''; // 요청에 대한 응답을 설정하세요.
}
?> -->


</body>

</html>
