<!DOCTYPE html>
<html lagn="ko"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />

</head>
<body>
<th:block th:replace="structure/header :: headerFragment"></th:block>
<h3>메인화면</h3>

<!-- html에서는 jsp에서 사용하던 cp같은것을 사용하지 못한다. -->
<a href="http://localhost:8080/created.action">글쓰기</a>

</body>
</html>