<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width-initial-scale=1,shrink-to-fit=no">
<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/structure/header.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/structure/footer.css}"/>
<link rel="icon" type="image/png" th:href="@{/image/chat/로고.png}"/>
</head>
<body>

	<!-- navbar -->
	<nav th:replace="structure/header :: headerFragment"></nav>
	

	<th:block layout:fragment="content"></th:block>
	
	<div th:replace="structure/footer :: footerFragment"></div>

	<script src="/js/header.js"></script>
</body>
</html>