<html layout:decorate="~{layout}">
<head>
<title>고객센터 페이지</title>
<style>
    footer {
        position: static !important;
    }
</style>
<link rel="icon" type="image/png" th:href="@{http://localhost:8080/image/로고.png}"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>

</head>
<body>

<div layout:fragment="content">

    <button data-subject="결제">결제</button>
    <button data-subject="소셜링">소셜링</button>
    <button data-subject="기타">기타</button>
    <button data-subject="인증/보안">인증/보안</button>
    
    <div th:each="data : ${customerCenterData}">
        <div>
            <strong>주제: </strong>
            <span th:text="${data.centerSubject}"></span>
        </div>
        <div>
            <strong>질문: </strong>
            <span th:text="${data.centerQuestion}"></span>
        </div>
        <div>
            <strong>답변: </strong>
            <span th:text="${data.centerAnswer}"></span>
        </div>
        <hr/>
    </div>

</div>


</body>

</html>