.title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #000;
}

.faq-container {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.faq-question {
    width: 100%;
    text-align: left;
    border: none;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #ddd;
}

.faq-answer {
    display: none;
    padding: 10px;
    border-top: 1px solid #f1f1f1;
    background-color: #fff;
    margin-left: 10px;
}