<html layout:decorate="~{layout}">
<head>
<title>결제 내역 페이지</title>
<style>
    footer {
        position: static !important;
    }
</style>
<link rel="stylesheet" type="text/css" href="css/pay/paybutton.css"/>
<link rel="stylesheet" type="text/css" href="css/pay/paytext.css"/>
<link rel="stylesheet" type="text/css" href="css/pay/paymentinfo.css"/>
<link rel="stylesheet" type="text/css" href="css/customercenter/customercenterButton.css"/>
<link rel="icon" type="image/png" th:href="@{http://localhost:8080/image/로고.png}"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/js/pay/paymentInfo.js"></script>

</head>
<body>

    <div layout:fragment="content">
        <br/>

        <p class="paytitle">포인트 충전 내역</p>
        
        <br/><br/>

        <div class="history-selection-buttons">
            <button id="show-pay-history" class="center-button btn-16">포인트 충전 내역</button>
            <button id="show-point-history" class="center-button btn-16">포인트 사용 내역</button>
        </div>
        <br/>

        <div class="date-filter">
            <label for="start-date">시작 날짜:</label>
            <input type="date" id="start-date">
        
            <label for="end-date">종료 날짜:</label>
            <input type="date" id="end-date">
        
            <button class="filterBtn" id="filter-btn">조회</button>
        </div>

        <br/><br/>

        <div id="no-payment-results-message" style="display: none; text-align: center; margin-bottom: 200px;">
            충전 내역이 없습니다.
        </div>
        
        <div id="no-use-results-message" style="display: none; text-align: center; margin-bottom: 200px;">
            사용 내역이 없습니다.
        </div>

    
        <!-- paymentInfo 데이터를 반복하여 각 결제 내역을 div로 표시 -->
        <div th:each="payment : ${paymentInfo}" class="paymentinfocontainer" th:unless="${#lists.isEmpty(paymentInfo)}">
            <br/><br/>
            <div>
                <span class="label">결제 날짜/시간: </span>
                <span th:text="${payment.paid_at}"></span>
            </div>

            <div>
                <span class="label">구매 한 상품 이름: </span>
                <span th:text="${payment.name}"></span>
            </div>

            <div>
                <span class="label">결제 금액: </span>
                <span th:text="${payment.paid_amount} + 원"></span>
            </div>
            
            <div>
                <span class="label">충전된 포인트 : </span>
                <span th:text="${payment.paid_amount} + 포인트"></span>
            </div>

            <div>
                <span class="label">결제 방법: </span>
                <span th:text="${payment.pay_method}"></span>
            </div>

            <div>
                <span class="label">카드 이름: </span>
                <span th:text="${payment.card_name}"></span>
            </div>

            <div>
                <span class="label">카드 번호: </span>
                <span th:text="${payment.card_number}"></span>
            </div>

            <div>
                <span class="label">승인 번호: </span>
                <span th:text="${payment.apply_num}"></span>
            </div>

            <br/>
    
            <!-- 필요한 경우 다른 데이터 필드들도 추가 가능 -->
            <hr/>
        </div>

        <div th:each="useInfo : ${pointHistories}" class="pointinfocontainer">
            <br/><br/>
            <div>
                <span class="label">사용 날짜/시간: </span>
                <span th:text="${useInfo.useTime}"></span>
            </div>
            <div>
                <span class="label">모임: </span>
                <span th:text="${useInfo.pointUseHistory}"></span>
            </div>
            <div>
                <span class="label">구분: </span>
                <span class="useType" th:text="${useInfo.useType}"></span>
            </div>
            <div>
                <span class="label">변경된 포인트: </span>
                <span th:text="${useInfo.usePoint} + 포인트"></span>
            </div>
            <div>
                <span class="label before-point">이전 포인트: </span>
                <span class="before-point" th:text="${useInfo.beforPoint} + 포인트"></span>
            </div>
            <div>
                <span class="label after-point">이후 포인트: </span>
                <span class="after-point" th:text="${useInfo.afterPoint} + 포인트"></span>
            </div>
            <!-- 필요한 경우, 다른 데이터 필드들도 추가 가능 -->
            <hr/>
        </div>
    
        <br/>


        
    </div>




</body>

</html>