<html layout:decorate="~{layout}">
    <head>
<meta charset="UTF-8">

<title>GATCHI 로그인</title>




<link rel="stylesheet" type="text/css" th:href="@{/css/login/login.css}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="/js/signup/signup.js"></script>


</head>
<body>

<div style="height: 860px;" layout:fragment="content" >
  <br/><br/><br/>
    <form th:action="@{/login.action}" method="post"  id="login-form">

    
        <div class="heading" style="font-size: 20px;">L O G I N</div>
        <div class="left">
          <label for="userName">EMAIL</label> 
          <input  type="text" name="username" id="username" /> 
          <label for="password" style="margin-top: 15px;">PASSWORD</label> 
          <input type="password" name="password" id="password" />

          <div th:if="${param.error}">
            <div class="alert alert-danger" id="error-message">일치하는 회원이 없습니다. 다시 확인해주세요.</div>
        </div>

        
      

          <input style="width: 230px; width: 116%;" type="submit" value="로 그 인" />
          <div style="width: 277px;">
            <a style="color:#0070ff; margin-right: 10px; margin-left: 12px; font-size: 18px; text-decoration: none;" href="/signup.action">회원가입</a>
            <a style="color:#0070ff; margin-right: 10px; font-size: 18px; text-decoration: none;" href="/findID.action">아이디 찾기</a>
            <a style="color:#0070ff; font-size: 18px; text-decoration: none;" href="/findPWD.action">비밀번호 찾기</a>

            <h3 style="margin-left: 80px; margin-top: 40px; margin-bottom: 30px; font-size: 25px; color: gray; font-weight: 700;">소셜 로그인</h3>
            
        </div>
          
        </div>
        <div class="right">
          
          <a href="/oauth2/authorization/naver">
            <img style="width: 50px;  margin-left: 40px;" src="/image/login/naver.png" >
        </a>

        <a href="/oauth2/authorization/kakao">
          <img style="width: 50px;  margin-left: 30px;" src="/image/login/kakao.png" >
      </a>

      <a href="/oauth2/authorization/google">
        <img style="width: 50px; margin-left: 30px;" src="/image/login/google.png" >
    </a>


         
         
      <br/><br/><br/><br/>
        </div>
      </form>  
      
     
</div>

      <button style="width: 230px; position: fixed; top: 77%; left: 50%; transform: translate(-50%, -50%);" onclick="window.location.href='/join.action'">
          회원가입
      </button>
      <br/><br/>
      <br/><br/>

     
</body>
</html>