<html layout:decorate="~{layout}">
    <head>
<meta charset="UTF-8">

<title>가치</title>

<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/index.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/main/mainReview.css}"/>
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=83bfuniegk"></script>
</head>
<body>

<div layout:fragment="content">
 
  <section style="background-color: #ffffff; height: 750px;" id="team">
    <br/><br/><br/>
    <div style="margin-bottom: -110px;"  class="container">
        <h4 style="color:#5CA8B5;">Review</h4>
        <div class="block"></div>
        <h2>진행 되었던 모임들의  <br/>
            생생한 후기를 확인해 보세요!</h2>
      <br/><br/><br/>

      <h5>정성스러운 후기를 남겨 주시는 분께<br/>
      매주 추첨을 통해 소정의 선물을 드립니다! </h5>
      
    </div>
  
  
  </section>
  <h5>모임후기</h5>

 
    <div style="display: flex; flex-direction: column; flex-wrap: wrap; align-content: center; height: 800px; background-color:#F5F5F5;">
      <div class="card-item">
        <div class="item-content">
          <div class="image-container">
            <img src="http://localhost:8080/image/main/jbal.jpg" alt="">
            
          </div>

          <div >
            <a>후기내용</a>
            
            
          </div>
        </div>
      </div>
      
      
      
      <div class="card-item">
        <div class="item-content">
          <div class="image-container">
            <img src="http://localhost:8080/image/main/jbal.jpg" alt="">
          </div>
          <div >
            <a>후기내용</a>
            
            
          </div>
        </div>
      </div>

      <div class="card-item">
        <div class="item-content">
          <div class="image-container">
            <img src="http://localhost:8080/image/main/jbal.jpg" alt="">
          </div>
          <div >
            <a>후기내용</a>
            
            
          </div>
        </div>
      </div>

      <div class="card-item">
        <div class="item-content">
          <div class="image-container">
            <img src="http://localhost:8080/image/main/jbal.jpg" alt="">
          </div>
          <div >
            <a>후기내용</a>
            
            
          </div>
        </div>
      </div>


      <div class="card-item">
        <div class="item-content">
          <div class="image-container">
            <img src="http://localhost:8080/image/main/jbal.jpg" alt="">
          </div>
          <div >
            <a>후기내용</a>
            
            
          </div>
        </div>
      </div>


      <div class="card-item">
        <div class="item-content">
          <div class="image-container">
            <img src="http://localhost:8080/image/main/jbal.jpg" alt="">
          </div>
          <div >
            <a>후기내용</a>
            
            
          </div>
        </div>
      </div>


      <div class="card-item">
        <div class="item-content">
          <div class="image-container">
            <img src="http://localhost:8080/image/main/jbal.jpg" alt="">
          </div>
          <div >
            <a>후기내용</a>
            
            
          </div>
        </div>
      </div>
      </div>
         
    
    
 

       


  




</body>

</html>