<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Page</title>


               
      
        <link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/structure/reset.css}"/>
     
      <link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/login/mypage.css}"/>
      <link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/login/mypage2.css}"/> 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>

    <body>

    
    <div style="height: 15px; background-color: #5CA8B5;"> </div>
    <nav  class="nav has-shadow" id="top">
        
        <div  class="container">
           
          <div  class="nav-left">
            <a href="/"><p  style=" color: #5CA8B5; font-size: 30px; margin-top: 12px;">GATCHI</p></a>
          </div>
          
          <div style="display: flex; width: 875px; font-size: 20px; margin-top: 20px; ">
           
            <p style="width: 160px; font-weight: 100;" class="menu_item"><a href="#" class="link">MeetMate</a></p>
            <b style="width: 160px; font-weight: 100;" class="menu_item"><a href="#" class="link">CommuniFind</a></b>
            <b style="width: 160px; font-weight: 100;" class="menu_item"><a href="#" class="link">Challenge</a></b>
            <b style="width: 160px; font-weight: 100;" class="menu_item"><a href="#" class="link">Review</a></b>
            <b style="width: 160px; font-weight: 100;" class="menu_item"><a href="#" class="link">Discovery</a></b>
            <b style="width: 160px; font-weight: 100;" class="menu_item"><a href="#" class="link">Service</a></b>
             
              
              </div>
           
            <span class="nav-item">
                <p style="width: 180px;" th:if="${#httpSession.getAttribute('user') != null}">
                    <a style="color: black;" th:text="${session.user.name}+ ' 님 안녕하세요!'"></a>
                    
                    </p>
        
                    <p style="width: 180px;" th:if="${#httpSession.getAttribute('user1') != null}">
                        <a style="color: black;" th:text="${session.user1.name}+ ' 님 안녕하세요!'"></a>
                      
                       
                        </p>
        
                     
        
                    <p  class="menu_item" th:if="${#httpSession.getAttribute('user') != null} or ${#httpSession.getAttribute('user1') != null}">
                        <a href="/logout" class="link">로그아웃</a>
                    </p>
            </span>
          </div>
        </div>
      </nav>
    <div class="container profile">
  
      <div class="section profile-heading">
        <div  class="columns">
          <div class="column is-2">

            <div th:if="${#httpSession.getAttribute('user') != null}" class="image is-128x128 avatar">
                <img style="margin-bottom: 30px;" th:src="@{${session.user.picture}}">
                <a  style=" color: #00d1b2; margin-left: -3px; font-size: 23px;" href="">포인트 상세 조회</a>
              </div>

            <div th:if="${#httpSession.getAttribute('user1') != null}"  class="image is-128x128 avatar">
            <img style="margin-bottom: 30px;" th:src="@{image/login/__${session.user1.picture}__}">
          
              <a th:if="${#httpSession.getAttribute('user1') != null}" style=" color: #00d1b2; margin-left: 15px; font-size: 23px;" href="/userupdate.action">회원정보 수정 </a>
              <a  style=" color: #00d1b2; margin-left: -3px; font-size: 23px;" href="">포인트 상세 조회</a>
            </div>
           
          </div>
         
           
        
        
          <div class="column is-4 name">
            <p style="margin-top: 45px;">
              <span class="title is-bold" th:if="${#httpSession.getAttribute('user1') != null}" th:text="${session.user1.name}+ ' 님 안녕하세요!'"></span>
              <span class="title is-bold" th:if="${#httpSession.getAttribute('user') != null}" th:text="${session.user.name}+ ' 님 안녕하세요!'"></span>
             
             <br/><br/><br/>
              <div class="box">
                <!-- Main container -->
                <nav class="level">
                  <!-- Left side -->
                  <div class="level-left">
                    <div class="level-item">
                      <p class="subtitle is-5">
                       포인트
                      </p>
                      <br/>
                    </div>
                    <br/>
                    <div class="level-item">
                        <div>
                        <p style="border: 1px;" >
                            포인트
                           </p>
                        </div>
                    </div>
                  </div>
          
                
              </div>


              <br/><br/><br/>
             
            </p>

            
          
          </div>
          <div style="display: flex; flex-direction: column;" class="column is-2 followers has-text-centered">
            <p style="color: #00d1b2; font-size: 30px;">MeetMate</p><br/>
            <p class="stat-val" th:text="${#lists.size(gatchiList)}"></p>
            
          </div>
          <div style="display: flex; flex-direction: column; width: 210px;" class="column is-2 following has-text-centered">
            <p style="color: #00d1b2; font-size: 30px; ">CommuniFind</p><br/>
            <p class="stat-val" th:text="${#lists.size(gatchiList)}"></p>
          </div>
          <div style="display: flex; flex-direction: column;" class="column is-2 likes has-text-centered">
            <p style="color: #00d1b2; font-size: 30px;">Challenge</p><br/>
            <p class="stat-val" th:text="${#lists.size(gatchiList)}"></p>
          </div>
        </div>
      </div>
      <div class="profile-options">
        <div class="tabs is-fullwidth">
          <ul>
           
            
            <li class="link"><a href="#"  id="meetmate-link"><span class="icon"><i class="fa fa-list"></i></span> <span>MeetMate</span></a></li>
            <li class="link"><a href="#"  id="communifind-link"><span class="icon"><i class="fa fa-th"></i></span> <span></span>CommuniFind</a></li>
            <li class="link"><a href="#"  id="challenge-link"><span class="icon"><i class="fa fa-th"></i></span> <span></span>Challenge</a></li>
            <li class="link"><a href="#"  id="mylikes-link"><span class="icon"><i class="fa fa-heart"></i></span> <span>My Likes</span></a></li>
            <li class="link"><a href="#" ><span class="icon"><i class="fa fa-bookmark"></i></span> <span>My Chat</span></a></li>
          </ul>
        </div>
      </div>
  
   <br/> <br/> <br/>
  

        <!-- meetmate 버튼  -->
    <div id="meetmate-content">
      <div class="columns" >
        <div class="column is-3" >
          
          <!-- 리스트 1번째 줄 -->
          <div class="card" th:each="items : ${gatchiList}" >
            <div class="card-image" >
              <figure class="image is-4by3">
                <img th:src="@{|/image/gatchiImage/${items.meetImage}|}" alt="">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <span th:switch="${items.meetCtgNum}">
                  <span th:case="1" class="category-button">
                    <button class="ctgButton" disabled="disabled">문화</button>
                    <p class="card__title" th:text="${items.meetTitle}">글제목</p>
                  </span>
                  <span th:case="2" class="category-button">
                    <button class="ctgButton" disabled="disabled">맛집</button>
                    <p class="card__title" th:text="${items.meetTitle}">글제목</p>    
                  </span>
                  <span th:case="3" class="category-button">
                    <button class="ctgButton" disabled="disabled">취미</button>
                    <p class="card__title" th:text="${items.meetTitle}">글제목</p>    
                  </span>
                  <span th:case="4" class="category-button">
                    <button class="ctgButton" disabled="disabled">여행</button>
                    <p class="card__title" th:text="${items.meetTitle}">글제목</p>    
                  </span>
                  <span th:case="5" class="category-button">
                    <button class="ctgButton" disabled="disabled">운동</button>
                    <p class="card__title" th:text="${items.meetTitle}">글제목</p>    
                  </span>
              </span>
            
              </div>
            </div>
            <footer class="card-footer">
             
              <a class="card-footer-item" th:text="'일시: ' + ${items.meetDday} + ', 장소: ' + ${items.meetPlace.replaceAll('.*?([^ ]+구).*', '$1')}"></a>
              <a class="card-footer-item" th:text="' 참여인원 : ' + ${items.meetMemCnt} + ' / ' + ${items.meetMaxMemCnt}"></a>
          
            </footer>
            </footer>
          </div>
          
        </div>
        </div>
      </div>


        <!-- communifind 버튼  -->
    <div id="communifind-content">
      <div class="columns" >
        <div class="column is-3" >
          
          <!-- 리스트 1번째 줄 -->
          <div class="card" th:each="items : ${gatchiList}" >
            <div class="card-image" >
              <figure class="image is-4by3">
                <img th:src="@{|/image/gatchiImage/${items.meetImage}|}" alt="">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <span th:switch="${items.meetCtgNum}">
                  <span th:case="1" class="category-button">
                    <button class="ctgButton" disabled="disabled">문화</button>
                    <p class="card__title" th:text="${items.meetTitle}">글제목</p>
                  </span>
                  <span th:case="2" class="category-button">
                    <button class="ctgButton" disabled="disabled">맛집</button>
                    <p class="card__title" th:text="${items.meetTitle}">글제목</p>    
                  </span>
                  <span th:case="3" class="category-button">
                    <button class="ctgButton" disabled="disabled">취미</button>
                    <p class="card__title" th:text="${items.meetTitle}">글제목</p>    
                  </span>
                  <span th:case="4" class="category-button">
                    <button class="ctgButton" disabled="disabled">여행</button>
                    <p class="card__title" th:text="${items.meetTitle}">글제목</p>    
                  </span>
                  <span th:case="5" class="category-button">
                    <button class="ctgButton" disabled="disabled">운동</button>
                    <p class="card__title" th:text="${items.meetTitle}">글제목</p>    
                  </span>
              </span>
            
              </div>
            </div>
            <footer class="card-footer">
             
              <!-- <a class="card-footer-item" th:text="'일시: ' + ${items.meetDday} + ', 장소: ' + ${items.meetPlace.replaceAll('.*?([^ ]+구).*', '$1')}"></a> -->
              <a class="card-footer-item" th:text="' 참여인원 : ' + ${items.meetMemCnt} + ' / ' + ${items.meetMaxMemCnt}"></a>
          
            </footer>
            </footer>
          </div>
        </div>
        </div>
      </div>


  <!-- challenge 버튼  -->
  <div id="challenge-content">
    <div class="columns" >
      <div class="column is-3" >
        
        <!-- 리스트 1번째 줄 -->
        <div class="card" th:each="items : ${gatchiList}" >
          <div class="card-image" >
            <figure class="image is-4by3">
              <img th:src="@{|/image/gatchiImage/${items.meetImage}|}" alt="">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <span th:switch="${items.meetCtgNum}">
                <span th:case="1" class="category-button">
                  <button class="ctgButton" disabled="disabled">문화</button>
                  <p class="card__title" th:text="${items.meetTitle}">글제목</p>
                </span>
                <span th:case="2" class="category-button">
                  <button class="ctgButton" disabled="disabled">맛집</button>
                  <p class="card__title" th:text="${items.meetTitle}">글제목</p>    
                </span>
                <span th:case="3" class="category-button">
                  <button class="ctgButton" disabled="disabled">취미</button>
                  <p class="card__title" th:text="${items.meetTitle}">글제목</p>    
                </span>
                <span th:case="4" class="category-button">
                  <button class="ctgButton" disabled="disabled">여행</button>
                  <p class="card__title" th:text="${items.meetTitle}">글제목</p>    
                </span>
                <span th:case="5" class="category-button">
                  <button class="ctgButton" disabled="disabled">운동</button>
                  <p class="card__title" th:text="${items.meetTitle}">글제목</p>    
                </span>
            </span>
          
            </div>
          </div>
          <footer class="card-footer">
           
            <a class="card-footer-item" th:text="'일시: ' + ${items.meetDday} + ', 장소: ' + ${items.meetPlace.replaceAll('.*?([^ ]+구).*', '$1')}"></a>
            <!-- <a class="card-footer-item" th:text="' 참여인원 : ' + ${items.meetMemCnt} + ' / ' + ${items.meetMaxMemCnt}"></a> -->
        
          </footer>
          </footer>
        </div>
      </div>
      </div>
    </div>


    <!-- mylikes 버튼  -->
  <div id="mylikes-content">
    <div class="columns" >
      <div class="column is-3" >
        
        <!-- 리스트 1번째 줄 -->
        <div class="card" th:each="items : ${gatchiList}" >
          <div class="card-image" >
            <figure class="image is-4by3">
              <img th:src="@{|/image/gatchiImage/${items.meetImage}|}" alt="">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <span th:switch="${items.meetCtgNum}">
                <span th:case="1" class="category-button">
                  <button class="ctgButton" disabled="disabled">문화</button>
                  <p class="card__title" th:text="${items.meetTitle}">글제목</p>
                </span>
                <span th:case="2" class="category-button">
                  <button class="ctgButton" disabled="disabled">맛집</button>
                  <p class="card__title" th:text="${items.meetTitle}">글제목</p>    
                </span>
                <span th:case="3" class="category-button">
                  <button class="ctgButton" disabled="disabled">취미</button>
                  <p class="card__title" th:text="${items.meetTitle}">글제목</p>    
                </span>
                <span th:case="4" class="category-button">
                  <button class="ctgButton" disabled="disabled">여행</button>
                  <p class="card__title" th:text="${items.meetTitle}">글제목</p>    
                </span>
                <span th:case="5" class="category-button">
                  <button class="ctgButton" disabled="disabled">운동</button>
                  <p class="card__title" th:text="${items.meetTitle}">글제목</p>    
                </span>
            </span>
          
            </div>
          </div>
          <footer class="card-footer">
           
            <a class="card-footer-item" th:text="'일시: ' + ${items.meetDday} + ', 장소: ' + ${items.meetPlace.replaceAll('.*?([^ ]+구).*', '$1')}"></a>
            <a class="card-footer-item" th:text="' 참여인원 : ' + ${items.meetMemCnt} + ' / ' + ${items.meetMaxMemCnt}"></a>
        
          </footer>
          </footer>
        </div>
      </div>
      </div>
    </div>

            <br/><br/><br/><br/>
        </div>
      </div>
   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="http://localhost:8080/js/signup/mypage.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
 
  
  
  </body>
</html>