<html layout:decorate="~{layout}">
    <head>
<meta charset="UTF-8">

<title>가치</title>



<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/index.css}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/login/signup.css}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



</head>
<body>
<div class="container">
<div layout:fragment="content" >
  <br/><br/><br/><br/><br/>
  
  <div class="container">
    <div class="row">
        <form action="" name="myForm" th:object="${BaseAuthUser}" method="post">
          <div class="row" >
             <div class="input-field col s12" >
              <input id="name" name="name"  type="text" class="validate" maxlength="10" required>
              <label style="font-size: 23px;" for="name" >이름(본명 혹은 닉네임 10글자 이하)</label>
              <div id="ErrorMessage" style="display: none;">
                <p style='color: red; font-size: 18px;'>닉네임을 입력하세요</p>
             </div>
            </div>
            
           
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="userName" name="userName" type="email" class="validate" required>
              <label style="font-size: 23px;" for="userName">이메일</label>
              <div id="nameErrorMessage" style="display: none;">
                <p style='color: red; font-size: 18px;'>이메일을 입력하세요</p>
             </div>
             <div id="userNameErrorMessage" style="display: none;">
              <p style='color: red; font-size: 18px;'>정상적인 이메일을 입력하세요</p>
           </div>
            </div>
          </div>
          
          
          
          
          <div class="row">
            <div class="input-field col s12">
              <input id="password" name="password" type="password" class="validate" minlength="6" required>
              <label style="font-size: 23px;" for="password">비밀번호(6자리 이상)</label>
              <div id="ErrorMessage" style="display: none;">
                <p style='color: red; font-size: 18px;'>비밀번호를 6자리 이상 입력 하세요</p>
             </div>
            </div>
          </div>
          
          <div class="row">
            <div class="input-field col s12">
              <input id="password2" name="password2" type="password" class="validate" minlength="6" required>
              <label style="font-size: 23px;" for="password2">비밀번호 확인</label>
              <div id="pwdErrorMessage" style="display: none;">
                <p style='color: red; font-size: 18px;'>비밀번호 확인 칸을 입력 하세요</p>
             </div>
             <div id="pwdErrorMessage2" style="display: none;">
              <p style='color: red; font-size: 18px;'>비밀번호와 비밀번호 확인이 일치하지 않습니다.</p>
           </div>
            </div>
          </div>
          
          <div class="row">
            <div class="input-field col s12">
              <input  id="tel" name="tel" type="text" >
              <label style="font-size: 23px;" for="tel" >휴대전화 번호</label>
              <div id="pErrorMessage" style="display: none;">
                <p style='color: red; font-size: 18px;' >휴대전화 번호를 입력해 주세요</p>
             </div>
             <div id="okMessage" style="display: none;">
              <p style='color: red; font-size: 18px;' >인증 번호가 전송 되었습니다</p>
           </div>
            
              <button style="height: 47px; line-height: 49px;" 
              class="btn btn-large btn-register waves-effect waves-light" type="button" id="send">인증번호 전송</button>
              <br/> <br/>
              <div id="telErrorMessage" style="display: none;">
                <p style='color: red; font-size: 18px;' >휴대전화 인증을 진행해 주세요</p>
             </div>
              <br/>
              <br/>
    
              <div class="row" id="secondBlock" style="display: none;">
                <div class="input-field col s12">
              <input type="text" id="userNum">   
              <label style="font-size: 23px;" for="to" >인증 번호</label>
                  <button style="height: 37px; line-height: 34px;"  class="btn btn-large btn-register waves-effect waves-light" type="button" id="enterBtn">확인</button>
                  <div id="MessageOk" style="display: none;">
                    <p style='color: red; font-size: 18px;' >인증이 완료 되었습니다</p>
                 </div>
                 <div id="failMessage" style="display: none;">
                  <p style='color: red; font-size: 18px;' >인증 번호가 일치 하지 않습니다</p>
               </div>

               <div th:if="${error}" class="error-message">
               <br/><br/> <p th:text="${error}"></p>
            </div>

               
            </div>
          </div>
          
        </div>
        <div style="color: red; font-size: 20px;" th:if="${error}" class="error-message" id="errorDiv">
          <p th:text="${error}"></p>
      </div>
            <div class="row">
      <div class="input-field col s6">
        <button class="btn btn-large btn-register waves-effect waves-light" type="button" onclick="join();">회원가입</button>
      </div>
      <div class="input-field col s6">

        <button class="btn btn-large btn-register waves-effect waves-light" type="button" onclick="window.location.href='/login.action'">가입취소</button>
        
      </div>
    </div>
     </form>
            </div>
           
          </div>
      
         
          <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
          <script type="text/javascript" src="js/util.js"></script>
          <script type="text/javascript" src="http://localhost:8080/js/signup/signup.js"></script>
</div>

<br/><br/><br/><br/><br/><br/><br/>

</body>
</html>