<html layout:decorate="~{layout}">
    <head>
<meta charset="UTF-8">

<title>가치</title>



<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/login/userupdate.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/login/signup.css}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />



</head>
<body>
<div class="container">
<div layout:fragment="content" >
  <br/><br/><br/><br/><br/>
  
  <div class="container">
    <div class="row">
        <form action="" name="myForm" method="post">
         
          <div class="row">
            <div class="input-field col s12">
              
              <h2 style="text-align: center; font-size: 40px;">회원가입이 완료되었습니다.</h2>
              <hr/>
              <br/>
              <br/>
              <br/>
              <h5 style="text-align: center;">로그인 후 안전하고 편리하게<br/>가치(GATCHI) 서비스를 이용하실 수 있습니다.</h5>
             
            </div>
          </div>
          
              <br/>
              <br/>
    
        </div>

            <div class="row">
      <div class="input-field col s6" style="margin-left: 150px;">
        <button class="btn btn-large btn-register waves-effect waves-light" type="button" onclick="window.location.href='/login.action';">로그인</button>
      </div>
      
    </div>
     </form>
            </div>
           
          </div>
      
         
          <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
          <script type="text/javascript" src="js/util.js"></script>
          <script type="text/javascript" src="/js/signup/signup.js"></script>
</div>

<br/><br/><br/><br/><br/><br/><br/>

</body>
</html>