<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>전체 화면 지도와 미니 맵 표시하기</title>
        <script th:src="@{http://localhost:8080/js/map/jquery-1.9.1.js}"></script>
        <script type="text/javascript" th:src="@{http://localhost:8080/js/map/examples-base.js}"></script>
        <script type="text/javascript" th:src="@{http://localhost:8080/js/map/highlight.min.js}"></script>
        <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=83bfuniegk"></script>
        <link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/map/examples-base.css}" />
    
        <!-- 위도 경도 좌표가져오는 모듈 -->
        <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=YOUR_CLIENT_ID&submodules=geocoder"></script>
    
        <!-- @category Map -->
    
        <style type="text/css">
            html, body { height:100%; }
            #back-link { margin-top:-10px;color:#333;font-weight:bold;color:#fff;pointer-events:auto; }
            #code-folder { margin-top:-10px;color:#333;font-weight:bold;color:#fff;pointer-events:auto; }
            #origin-marker { position:absolute;top:50%;left:50%;z-index:1000;background-color:#f00; width:10px;height:10px;border-radius:5px;pointer-events:none; }
            #snippet { width:700px;height:600px;overflow:hidden;overflow-y:auto;pointer-events:auto; }
            .buttons { position:absolute;top:0;left:100px;padding:5px; }
            .buttons .control-btn { pointer-events:auto; }
        </style>
    
    
    
    
    
    </head>
<body>
    
<!-- 맵출력 객체 -->
<div id="map" style="width:100%;height:100%;">

    <input type="hidden" id="hiddenData" th:value="${jsonArray}"/>
</div>
    

<script id="code">

    var semaphore = false;
    
    naver.maps.Event.once(map, 'init', function() {
        map.setOptions({
            mapTypeControl: true,
            scaleControl: false,
            logoControl: false
        });
    
        naver.maps.Event.addListener(map, 'mapTypeId_changed', function(mapTypeId) {
            var toTypes = {
                "normal": "hybrid",
                "terrain": "satellite",
                "satellite": "terrain",
                "hybrid": "normal"
            };
    
            if (!toTypes[mapTypeId]) {
                return;
            }
    
        });
    
    });
    </script>



<script id="code">
    var map = new naver.maps.Map('map', {
    zoom: 18,
    minZoom: 9,
    zoomControl: true,
    zoomControlOptions: {
        position: naver.maps.Position.TOP_RIGHT
    },
    mapDataControl: true,
    logoControlOptions: {
        position: naver.maps.Position.LEFT_BOTTOM
    },
    disableKineticPan: false
    });


    map.setOptions("mapTypeControl", true);

    
    var infowindow = new naver.maps.InfoWindow(); //info 객체
    
    //현재위치를 가져오는 함수
    function onSuccessGeolocation(position) {
        var location = new naver.maps.LatLng(position.coords.latitude,
                                             position.coords.longitude);
    
        map.setCenter(location); // 얻은 좌표를 지도의 중심으로 설정합니다.
        map.setZoom(11); // 지도의 줌 레벨을 변경합니다.
    
        //이미지로 마커 변경해야함
        infowindow.setContent('<div style="padding:20px;">' + 'geolocation.getCurrentPosition() 위치' + '</div>');
    
        infowindow.open(map, location);
        // console.log('Coordinates: ' + location.toString());
    }
    

    //현재위치를 가져오지 못했을 경우 
    function onErrorGeolocation() {
        var center = map.getCenter();
    
        infowindow.setContent('<div style="padding:20px;">' +
            '<h5 style="margin-bottom:5px;color:#f00;">Geolocation failed!</h5>'+ "latitude: "+ center.lat() +"<br />longitude: "+ center.lng() +'</div>');
    
        infowindow.open(map, center);
    }
    
    $(window).on("load", function() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(onSuccessGeolocation, onErrorGeolocation);
        } else {
            var center = map.getCenter();
            infowindow.setContent('<div style="padding:20px;"><h5 style="margin-bottom:5px;color:#f00;">Geolocation not supported</h5></div>');
            infowindow.open(map, center);
        }
    });
    </script>


<!-- 데이터 뿌리는 함수 -->
<script id="code">
    var HOME_PATH = window.HOME_PATH || '.';

    var hiddenData = document.getElementById("hiddenData").value;

    console.log(hiddenData)

    var jsonArray = JSON.parse(hiddenData);

    // 파싱된 객체를 순회하면서 데이터를 추출
    


    var bounds = map.getBounds(),
    southWest = bounds.getSW(),
    northEast = bounds.getNE(),
    lngSpan = northEast.lng() - southWest.lng(),
    latSpan = northEast.lat() - southWest.lat();

        
    //마커 및 인포 담을 배열 변수
    var markers = [],
    infoWindows = [];


    var position = new naver.maps.LatLng(
            southWest.lat() + latSpan,
            southWest.lng() + lngSpan
        );

    for (let i = 0; i < jsonArray.length; i++) {
        var data = jsonArray[i];
        var lat = data.lat;
        var lng = data.lng;
        var id = data.id;

        // 데이터 사용 예시:
        console.log("lat:", lat);
        console.log("lng:", lng);
        console.log("id:", id);


        var marker = new naver.maps.Marker({
            map: map,
            position: position,
            title: jsonArray,
            icon: {
                url: HOME_PATH +'',
                size: new naver.maps.Size(24, 37),
                anchor: new naver.maps.Point(12, 37),
                origin: new naver.maps.Point(lat, lng)
            },
            zIndex: 100
        });

        var infoWindow = new naver.maps.InfoWindow({
            content: '<div style="width:150px;text-align:center;padding:10px;">좌표 <b>"'+ 'lat : ' + lat + ' lng : ' + lng +'"</b>.</div>'
        });
    
        markers.push(marker);
        infoWindows.push(infoWindow);


    }



    //마커 감시
    naver.maps.Event.addListener(map, 'idle', function() {
        updateMarkers(map, markers);
    });
    
    //마커 새로고침 업데이트
    function updateMarkers(map, markers) {
    
        var mapBounds = map.getBounds();
        var marker, position;
    
        for (var i = 0; i < markers.length; i++) {
    
            marker = markers[i]
            position = marker.getPosition();
    
            if (mapBounds.hasLatLng(position)) {
                showMarker(map, marker);
            } else {
                hideMarker(map, marker);
            }
        }
    }

    //마커 보여주기
    function showMarker(map, marker) {
    
        if (marker.setMap()) return;
        marker.setMap(map);
    }
    
    //마커 숨기기
    function hideMarker(map, marker) {
    
        if (!marker.setMap()) return;
        marker.setMap(null);
    }
    
    // 해당 마커의 인덱스를 seq라는 클로저 변수로 저장하는 이벤트 핸들러를 반환합니다.
    function getClickHandler(seq) {
        return function(e) {
            var marker = markers[seq],
                infoWindow = infoWindows[seq];
    
            if (infoWindow.getMap()) {
                infoWindow.close();
            } else {
                infoWindow.open(map, marker);
            }
        }
    }
    
    for (var i=0, ii=markers.length; i<ii; i++) {
        naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
    }
    </script>
    


</body>
</html>

'<h2 style="padding: 10px; align-items: center;">타이틀</h2>
<ul>
    <li>모임 정보 1</li>
    <li>모임 정보 2</li>
    <li>모임 정보 3</li>
    <li>모임 정보 4</li>
    <li>모임 정보 5</li>
</ul>'

<img src="../../static/image/map/cluster-marker-3.png"/>