<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">

<title>아티클</title>

<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/index.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/bbsYj/articleYj.css}"/>
<link rel="icon" type="image/png" th:href="@{http://localhost:8080/image/Icon2-removebg.png}"/>


</head>
<body>

<div layout:fragment="content">
    <div style="border: 1px;">
      <div class="yj-img">
            <img th:src="@{/image/bbsYj/6666.png}"/>
            <div class="Main_content" th:each="meet : ${meetList}">
                <div class="round-image">
                    <img th:src="@{/image/bbsYj/1111.jpg}"/>
                </div>
                <p class="master" th:text="${meet.meet_master}"></p>
                <br/><br/>
                <p class="title" th:text="${meet.meet_title}"></p>
            </div>
            <div th:each="meet : ${meetList}">
                <p class="text" th:text="${meet.meet_content}"></p>
                <br/><br/>
                <b>자세한 정보</b>
                <p class="text-with-hyphen" th:text="${meet.meet_place}"></p>
                <p class="text-with-hyphen" th:text="${meet.meet_date}"></p>
                <br/><br/><br/>
                <b>모집 인원</b>
                <div class="text-container">
                    <p class="text" th:text="${meet.meet_memcnt}"></p>/
                    <p class="text" th:text="${meet.meet_max_memcnt}"></p>
                </div>
            </div>
    </div>
</div>
</div>

</body>
</html>