<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">

<title>아티클</title>

<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/index.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/bbsYj/articleYj.css}"/>
<link rel="icon" type="image/png" th:href="@{http://localhost:8080/image/Icon2-removebg.png}"/>


</head>
<body>

<div layout:fragment="content">

    <div class="yj-img">
        <img th:src="@{/image/bbsYj/6666.png}"/>
        <div class="Main_content" th:each="meet : ${meetList}">
            <div class="round-image">
                <img th:src="@{/image/bbsYj/1111.jpg}"/>
            </div>
            <p class="Yj-master" th:text="${meet.meet_master}"></p>
            <p class="Yj-title" th:text="${meet.meet_title}"></p>
        </div>
        <div class="main-text" th:each="meet : ${meetList}">
            <p class="Yj-text1" th:text="${meet.meet_content}"></p>

            <div class="yj-info">상세 정보</div>
            <p class="text-with-hyphen Yj-text2" th:text="${meet.meet_place}"></p>
            <p class="text-with-hyphen Yj-text2" th:text="${meet.meet_date}"></p>

            <div class="yj-inwon">모집 인원</div>
            <div class="text-container">
                <p class="Yj-text3" th:text="${meet.meet_memcnt}"></p>/
                <p class="Yj-text3" th:text="${meet.meet_max_memcnt}"></p>
            </div>
        </div>
    </div>
    <div class="yj-img2">
        <div class="review-title">모임 후기</div>
        
        <!-- <div class="review-content" th:each="MEET_REVIEW : ${meetReview}">
            <div class="review" th:text="${MEET_REVIEW.meet_review_content}"></div>
        </div> -->
        </div>
    </div>

</div>

</body>
</html>