<html layout:decorate="~{layout}">
    <head>
<meta charset="UTF-8">

<title>멤버 관리</title>

<style>
    footer{
        position: static !important;
    }
</style>

<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/index.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/bbsYj/managerYj.css}"/>
<link rel="icon" type="image/png" th:href="@{http://localhost:8080/image/로고.png}"/>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

    function accept(email) {
        alert(email)
        if (confirm('수락하시겠습니까?')) {
            $.ajax({
                type: "POST",
                url: "/accept-to-waitlist",
                data: {
                    email: email
                },
                success: function (response) {
                    alert('수락되었습니다.');
                    location.reload();
                },
                error: function () {
                    alert('수락에 실패했습니다.');
                }
            });
        }
    }

    function reject(email) {
        alert(email)
        if (confirm('거절하시겠습니까?')) {
            $.ajax({
                type: "POST",
                url: "/reject-from-waitlist",
                data: {
                    email: email
                },
                success: function (response) {
                    alert('거절되었습니다.');
                    location.reload();
                },
                error: function () {
                    alert('거절에 실패했습니다.');
                }
            });
        }
    }


    function kickOut(email) {
        alert(email)
        if (confirm('강퇴하시겠습니까?')) {
            $.ajax({
                type: "POST",
                url: "/add-to-blacklist",
                data: {
                    email: email
                },
                success: function (response) {
                    alert('블랙리스트에 추가되었습니다.');
                    location.reload();
                },
                error: function () {
                    alert('블랙리스트 추가에 실패했습니다.');
                }
            });
        }
    }



    function release(email) {
        alert(email)
        if (confirm('블랙리스트에서 해제하시겠습니까?')) {
            $.ajax({
                type: "POST",
                url: "/release-from-blacklist",
                data: {
                    email: email
                },
                success: function (response) {
                    alert('블랙리스트에서 해제되었습니다.');
                    location.reload();
                },
                error: function () {
                    alert('블랙리스트 해제에 실패했습니다.');
                }
            });
        }
    }


        // document.addEventListener('DOMContentLoaded', function () {

        //     document.querySelector('.release-action').addEventListener('click', function () {
        //         if (confirm('해제하시겠습니까?')) {
        //             $.ajax({
        //                 type: "POST",
        //                 url: "/update-meet-blacklist", // 수정된 URL
        //                 data: {
        //                     meetListNum: meetListNum,
        //                     email: email,
        //                     action: "release" // 블랙리스트에서 해제 동작
        //                 },
        //                 success: function (response) {
        //                     alert('해제되었습니다.');
        //                     location.reload();
        //                 },
        //                 error: function () {
        //                     alert('해제에 실패했습니다.');
        //                 }
        //             });
        //         }
        //     });
        // });
    </script>

</head>
<body>
<div layout:fragment="content">

        

    <div class="all-background">

        <div class="manager-title">멤버 관리</div>
        <div class="container-wrapper">
        <div class="manager-container">

            <div class="req-title">참여 대기 멤버</div>
            <div class="req-background" th:each="meetWait : ${meetWait}">
                <div class="round-image">
                    <img th:src="@{/image/gatchiImage/1111.jpg}" alt="회원 프사(임의)"/>
                </div>
                <div class="mem-request" th:text="${meetWait}"></div>
                <div class="actions">
                    <span class="accept-action" th:data-email="${meetWait}" onclick="accept(this.getAttribute('data-email'))">수락</span> |
                    <span class="reject-action" th:data-email="${meetWait}" onclick="reject(this.getAttribute('data-email'))">거절</span>
                </div>
            </div>

            <div class="mem-title">참여 멤버</div>
            <div class="mem-background" th:each="meetMember : ${meetMembers}">
                <div class="round-image">
                    <img th:src="@{/image/gatchiImage/1111.jpg}" alt="회원 프사(임의)"/>
                </div>
                <div class="mem-request" th:text="${meetMember}"></div>
                <div class="actions">
                    <span class="out-action" th:data-email="${meetMember}" onclick="kickOut(this.getAttribute('data-email'))">강퇴</span>
                </div>
            </div>
            
        </div>
            <div class="blacklist-container">
                <div class="blacklist-title">블랙리스트</div>
                <div class="black-background" th:each="meetBlack : ${meetBlack}">
                    <div class="round-image2">
                        <img th:src="@{/image/gatchiImage/1111.jpg}" alt="회원 프사(임의)"/>
                    </div>
                    <div class="black-request" th:text="${meetBlack}"></div>
                    <div class="actions">
                        <span class="release-action" th:data-email="${meetBlack}" onclick="release(this.getAttribute('data-email'))">해제</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

</div>

</body>
</html>