<meta charset="UTF-8">

<footer  th:fragment="footerFragment">
    <div id="pageFooter">
        <div>
            <p class="footer_title">MeetMate 정보</p>
            <p><a href="/" class="footer_a">공지사항</a></p>
            <p><a href="/" class="footer_a">자주 묻는 질문</a></p>
        </div>
        <div>
            <p class="footer_title">소셜 미디어</p>
            <p><a href="/" class="footer_a">인스타그램은없구요</a></p>
            <p><a href="/" class="footer_a">블로그도없어요</a></p>
        </div>
        <div>
            <p class="footer_title">MeetMate</p>
            <p>조장 : 정상명 | 모든 정보 책임자 : 정상명</p>
            <p>조원 : 지효근 | 이은수 | 이상우 | 어재석 | 김유진</p>
            <p>주소 : 서울시 강남구 테헤란로 124 삼원타워 406호</p>
            <p>이메일 : meetmate@meetmate.com</p>
            <p>대표번호 : 010-0000-0000</p>
        </div>
    </div>
</div>
</footer>
