<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/static/css/reset.css}" rel="stylesheet"/>
<link th:href="@{/css/structure/header.css}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{/js/header.js}"></script>

<div th:fragment="headerFragment">
<header class="header">
	<div class="hbody">
		<ul class="menu">
			<li class="menu_item"><a href="#" class="link">모임1</a></li>
			<li class="menu_item"><a href="#" class="link">모임2</a></li>
			<li class="menu_item"><a href="#" class="link">모임3</a></li>
			<li class="menu_item"><a href="#" class="link">모임4</a></li>
		</ul>
	</div>
</header>
</div>
</html>