<meta charset="UTF-8">

<div th:fragment="headerFragment">
<div class="top_header"></div>
<header class="header">
	<div class="hbody">
		<ul class="menu">
			<li class="menu_item_logo"><a href="#" class="link"><p class="textLogo">GATCHI</p></a></li>
		<div id="subbody" class="sbody">
			<div class="subbody1">
			<li class="menu_item"><a href="#" class="link">소셜링</a></li>
			<li class="menu_item"><a href="#" class="link">클럽</a></li>
			<li class="menu_item"><a href="#" class="link">챌린지</a></li>
			<li class="menu_item"><a href="#" class="link">고객센터</a></li>
		</div>
		<div class="subbody2">
			<li class="menu_item"><a href="/signup.action" class="link">회원가입</a></li>
			<li class="menu_item"><a href="/login.action" class="link">로그인</a></li>
		</div>
		</div>
		</ul>
	</div>
</header>
</div>