.yj-img {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #f4f4f4;
    max-width: 800px;
}

.yj-img2 {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #E4EEF7;
    max-width: 800px;
}

.yj-img img {
    width: 500px;
    height: 300px;
}

.Main_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fefefe;
    position: relative;
    width: calc(100% - 28px);
    top: -25px;
    height: auto;
    border-radius: 16px;
    z-index: 100;
    text-align: center;
    padding: 20px;
}

.Yj-title {
    font-size: 25px;
    color: #000000;
    font-weight: bold;
    padding-top: 25px;
}

.Yj-master {
    font-size: 15px;
    color: #383535;
}

.Yj-text1 {
    position: relative;
    /* width: calc(100% - 28px); */
    height: auto;
    background-color: #f4f4f4;
    padding: 30px 45px 10px; /*위/양사이드/아래*/ 
    color: #383535;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -.6px;
}

.Yj-text2 {
    position: relative;
    /* width: calc(100% - 28px); */
    height: auto;
    background-color: #f4f4f4;
    /* padding: 30px 45px 10px; 위/양사이드/아래*/ 
    color: #383535;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -.6px;
}

.Yj-text3 {
    position: relative;
    /* width: calc(100% - 28px); */
    height: auto;
    background-color: #f4f4f4;
    /* padding: 30px 45px 10px;*/
    color: #383535;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -.6px;
    
}

.text-with-hyphen::before {
    content: "- ";
    position: relative;
    /* width: calc(100% - 28px); */
    height: auto;
    background-color: #f4f4f4;
    /* padding: 1px 30px 10px; */
    padding-left: 35px;
    color: #383535;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -.6px;
}

.text-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.round-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.round-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.yj-info {
    padding: 50px 30px 10px; /*위/양사이드/아래*/
    color: #F43E42;
}

.yj-inwon {
    padding: 35px 30px 10px; /*위/양사이드/아래*/
    color: #F43E42;
}

.main-text {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    flex-direction: column;
    position: relative;
    width: calc(110% - 8px);
    height: auto;
    border-radius: 16px;
    z-index: 100;
    padding: 50px;
    margin-bottom: 30px;
    text-align: left;
}

.review-title {
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}

.review-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fefefe;
    position: relative;
    width: calc(65% - 8px);
    height: auto;
    border-radius: 16px;
    z-index: 100;
    text-align: center;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}


.memid {
    text-align: left;
    color: #383535;
    font-weight: bold;
    margin-top: -23px;
    margin-left: 40px;
    font-size: 13px;
    display: inline-block;
    float: left;
}
.date {
    text-align: right;
    color: #AAAAAA;
    margin-left: 10px;
    margin-top: -14px;
    font-size: 13px;
    float: right;
}

.yj-content {
    text-align: left;
    color: #383535;
    margin-top: 25px;
    font-size: 17px;
    padding-right: 150px;
}

.round-image-rev {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-top: -30px;
}

.round-image-rev img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-img {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    margin-top: -35px;
    z-index: 1;
}

.review-img img {
    width: 130px;
    height: auto;
    display: inline-block;
    margin-left: auto;
    margin-top: auto;
}
