.yj-img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #f4f4f4;
}

.yj-img img {
    width: 500px;
    height: 300px;
}

.iy-img img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: relative;
}



.Main_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fefefe;
    position: relative;
    width: calc(100% - 28px);
    top: -25px;
    height: auto;
    border-radius: 16px;
    z-index: 100;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 21px;
    color: #000000;
    font-weight: bold;
}

.master {
    font-size: 14px;
    color: #383535;
}

.text {
    position: relative;
    /* width: calc(100% - 28px); */
    height: auto;
    background-color: #f4f4f4;
    /* padding: 8px 14px 5px; */
    color: #383535;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -.6px;
}

.text-with-hyphen::before {
    content: "- ";
}

.text-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.round-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.round-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}