.all-background {
    background-color: #F9F9F9;

}

.manager-container {
    /* border: 1px solid #171616; */
    max-width: 600px;
    min-width: 600px;
    margin: 0 50px 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.manager-title {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 10px;
    font-size: 23px;
    color: #171616;
    font-weight: bold;
}

.req-title {
    text-align: left;
    margin-top: 50px;
    margin-left: -400px;
    font-size: 18px;
    color: #171616;
    margin-bottom: 10px;
}

.req-background {
    width: 500px;
    min-width: 300px;
    height: 70px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #E4EEF7;
    border-radius: 10px;
    flex-direction: row;
    padding: 0 22px;
    justify-content: space-between;
}

.round-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.round-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.round-image2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.round-image2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mem-request {
    font-size: 18px;
}

.black-request {
    font-size: 16px;
}

.actions {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    font-size: 17px;
    color: #a2a8af;
}

.release-action {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    font-size: 16px;
    color: #F43E42;
    text-decoration: none;
}
.release-action:hover {
    text-decoration: underline;
    color: #df0509;
}

.accept-action, .reject-action, .out-action, .release-action {
    cursor: pointer;
    text-decoration: none;
}
.accept-action:hover, .reject-action:hover, .out-action:hover {
    text-decoration: underline;
    color: #686868;
}

.mem-title {
    text-align: center;
    margin-top: 50px;
    margin-left: -432px;
    font-size: 18px;
    color: #171616;
    margin-bottom: 10px;
}

.mem-background {
    width: 500px;
    min-width: 300px;
    height: 70px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #F9F9F9;
    flex-direction: row;
    padding: 0 22px;
    justify-content: space-between;
    border-bottom: 2px solid #5CA8B5;
}

.blacklist-container {
    border: 1px solid #E4EEF7;
    width: 250px;
    height: 300px;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* 스크롤이 필요한 경우만 스크롤바가 표시됨 */
}

.container-wrapper {
    display: flex;
    justify-content: center;
}

.blacklist-title {
    text-align: left;
    margin-top: 20px;
    font-size: 18px;
    color: #171616;
    margin-bottom: 10px;
}

.black-background {
    width: 200px;
    min-width: 200px;
    height: 45px;
    margin: 10px auto 5px auto;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
    flex-direction: row;
    padding: 5px 15px;
    justify-content: space-between;
    background-color: #F9F9F9;
}