<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 여기있는 sql을 호출할 인터페이스 패키지 위치를 정확하게 입력해야 사용이 가능하다. -->
<mapper namespace="com.spring.boot.mapper.ChallengeLikeMapper">

<insert id="insertChallengeLike" parameterType="com.spring.boot.dto.ChallengeLikeDTO">
	insert into challengelike values (#{challengeListNum}, #{useremail})
</insert>

<delete id="deleteChallengeLike" parameterType="com.spring.boot.dto.ChallengeLikeDTO">
	delete challengelike where useremail = #{useremail} and challengeListNum = #{challengeListNum}
</delete>

<select id="getReadDataChallengeLike" parameterType="String" resultType="com.spring.boot.dto.ChallengeLikeDTO">
	select * from challengelike where useremail = #{useremail}
</select>

<select id="getReadDataInChallengeLikeDTO" parameterType="com.spring.boot.dto.ChallengeLikeDTO" resultType="com.spring.boot.dto.ChallengeLikeDTO">
	select * from challengelike where useremail = #{useremail} and challengeListNum = #{challengeListNum}
</select>



<select id="getChallengeLikeNumByUserEmail" parameterType="String" resultType="int">
    SELECT challengeListNum
    FROM ChallengeLike
    WHERE useremail = #{email}
</select>



<select id="getChallengeLikeNums" parameterType="java.util.List" resultType="com.spring.boot.dto.ChallengeDTO">
    SELECT *
    FROM challenge
    WHERE challengeListNum IN
    <foreach item="item" collection="list" open="(" separator="," close=")">
        #{item}
    </foreach>
    ORDER BY challengeListNum DESC
</select>

</mapper>