<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.boot.mapper.MapMapper">


<select id="getLists" parameterType="hashMap" resultType="com.spring.boot.dto.MapDTO">
	select * from (
	select rownum rnum, data.* from (
	select lat,lng,meetListNum from latlng
	order by meetListNum asc) data)
</select>

<select id="getData" parameterType="hashMap" resultType="com.spring.boot.dto.GatchiDTO">
	select * from gatchi
</select>

<select id="getOneData" parameterType="int" resultType="com.spring.boot.dto.GatchiDTO">
	select * from gatchi where meetListNum=#{meetListNum}
</select>

<select id="getTitleData" parameterType="String" resultType="com.spring.boot.dto.GatchiDTO">
	select * from gatchi where meetTitle like '%' || #{meetTitle} || '%'
</select>

<select id="getCategory" parameterType="int" resultType="com.spring.boot.dto.MeetCategoryDTO">
	select * from meetcategory where meetCtgNum=#{meetCtgNum}
</select>

<insert id="insertMapData" parameterType="com.spring.boot.dto.MapDTO">
	insert into latlng(lat,lng,meetListNum) values (#{lat},#{lng},#{meetListNum})
</insert>



</mapper>