<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.boot.mapper.PayMapper">

    <!-- 결제 정보를 데이터베이스에 추가하는 SQL -->
    <insert id="insertPay" parameterType="com.spring.boot.dto.PayDTO">
        INSERT INTO payments (product_id, payments_status, payments_date)
        VALUES (#{productId}, #{paymentsStatus}, #{paymentsDate})
    </insert>

    <!-- 추가적인 결제 관련 SQL 문장을 작성할 수 있습니다. -->

</mapper>